.ca-dashwidget {
	min-width:450px;
	width:30%;
	margin:5%;
    padding:15px;
    float:left;
    overflow:auto;
    cursor: default;
}

.ca-widgethead{
    padding-bottom:10px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
    
}

.ca-widgethead a {
        padding: 0.75em 1.5em;
}

.ca-dashwidget h2 {
	font-weight:normal;
    float:left;
    line-height:35px;
    margin:0px;
}

.ca-dashwidget h3 {
    text-align: center;
    font-weight:normal;
}

.ca-dashwidget .btn {
    float:right;
    margin-right:0px;
}

.ca-widgetupdated {
    float:right;
    margin-top:5px;
}

.ca-widgetdetails {
    clear:both;
    overflow:auto;
}

.ca-widgetchart {
    width:50%;
    float:left;
}

.ca-widgetchart h3 span{
    font-size:80%;
    font-style:italic;
}

.ca-widgetchange {
    width:40%;
    float:right;
    border:1px solid #ccc;
    padding:20px;
    margin-top:20px;
    border-radius: 5px;
    text-align:center;
}

.ca-widgetchange p {
    font-size:140%;
}
.ca-widgetchange h3 span {
    font-size:80%;
    font-style:italic;
    
}

.ca-gray {
    color:#808080;
}

.ca-chartdraw {
    width:100%;
    min-height:200px;
}

.ca-green {
    color:#44db5e;
}

.ca-red {
    color:#f82a3d;
}

.ca-widgetchange i {
    font-size:500%;
    color:
}

.ca-legend table {
    width:auto;
    margin:20px auto 0 auto;
    table-layout: auto;
}

.ca-legend table td {
    padding:0;
    border:0;
}

.ca-legend .legendLabel {
    padding-right:15px;
}

.ca-legend .legendColorBox {
    padding-right:5px;
}

.ca-legend .legendColorBox div {
    padding:0 !important;
    border-radius: 3px;
    
}

.ca-widgetnumbers {
    text-align:center;
    width:50px;
    margin:0 auto;
    height:40px;
    position:relative;
    top:-150px;
}

.ca-widgetnumbers h2{
    float:none;
    border-bottom:1px solid #ccc;
    width:50px;
    line-height:normal;
    margin-bottom:3px;
    
}

.ca-widgetnumbers h4 {
    width:50px;
    font-weight:normal;
}

/*========== Details Page ===================*/

.ca-details {
    padding:20px;
}

.ca-detailshead{
    overflow: auto;
    margin-bottom:20px;
}

.ca-details h2 {
    font-weight:normal;
    float:left;
}

#ca-dateswitch {
   float:right;
    font-size:150%;
    /*cursor:pointer;*/
}

#ca-daterange{
    clear:right;
    float:right;
    text-align: right;
}

#ca-daterange input {display:inline-block; width:7em; padding-bottom: 5px; text-align: center;}

#ca-maingraphlegend {float:right;}
#ca-maingraph {clear:both;}

.caui select {
    display:inline;
    
}

#ca-statsummary {
    margin-top:20px;
}

.ca-changelabel {
    border:1px solid #ccc;
    border-radius: 5px;
    padding:5px;
    font-size:120%;
    font-style:italic;
    text-align:center;
    float:left;
}

.ca-statbox {
    padding:20px 5px;
}

.ca-statdivider {
    border-right:1px solid #ccc;
}

.ca-statbox h1 {
  font-size:300%;
    margin:0;
    font-weight:normal;
}



#ca-licenses {
    border:1px solid #ccc;
    border-radius:10px;
    padding:5px 20px;
    float:left;
    line-height:auto;
    
}


.ca-orange {
    color:#ff9600;
}

.ca-detailstable {
    padding:20px;
}

.ca-detailstable h2 {
    font-weight:normal;
    margin:0px;
}

.ca-detailstable table {
    border-radius: 8px;
    border:1px solid #ccc;
    border-spacing: 0px;
    border-collapse: separate !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ca-detailstable table thead {
    background:none;
    color:#fff;
}
.ca-detailstable table thead th {
    background:#0076ff;
    text-align:center;
}
.ca-detailstable table td {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#ca-24graph {
    margin-top:10px;
}

#ca-mobilestats {
    padding-top:20px;
    clear:both;
    overflow:auto;
}

.ca-mobileicons {float:left; border-right:1px solid #ccc;}
.ca-mobileicons .fa-apple {color:#aaa;}
.ca-mobileicons .fa-android {color:#a3cc2c;}
#ca-mobilestats i {
    display:block;
    font-size:180%;
    padding:10px 5px;
    text-align: right;
}

.ca-mobilegraph {
    float:left;
    width:60%;
    position:relative;
    height:90px;
}


#ca-applestats{
    background:#aaa;
    height:25px;
    line-height:20px;
    padding:4px;
    color:#fff;
    position: absolute;
    width:100%;
    top:10px;
}
#ca-applestatstxt {
    color:#aaa;
    position: absolute;
    top:10px;
    left:103%;
}
#ca-androidstats{
    
    background:#a3cc2c;
    width:100%;
    position: absolute;
    height:25px;
    line-height:20px;
    
    padding:4px;
    color:#fff;
    top:55px;
}
#ca-androidstatstxt {
    color:#a3cc2c;
    position: absolute;
    top:57px;
    left:103%;
}


.ca-hrsstat {
    margin-top:40px;
}
