﻿.appbar__meta {
    text-overflow: ellipsis;
    min-width: 100px;
    max-width: 200px;
    overflow:hidden;
        white-space: nowrap;
}

.ellipsis-title {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 150px;
    max-width: 400px;
        white-space: nowrap;
}

#responsive-survey
{
    padding-top:20px;
}

#responsive-survey .title-section, #responsive-survey .responders-report, .responders-report
{
    width: 80%;
    margin: 0 auto;
}

#responsive-survey .title-section h1
{
    font-size: 24px;
    font-weight: 500;
    vertical-align: middle;
}

#responsive-survey .tabs__list
{
    width: 80%;
    margin: 0 auto;
}

#survey-icon 
{
    padding-right: 15px;
    vertical-align: middle;
    width: 70px;
    height: auto;
}

#responsive-survey .tabs--styled .tabs__panels__item
{
    padding:0px;
}

.inline-block-top {
    display: inline-block; 
    vertical-align:top; 
}
.inline-block-mid {
    display: inline-block; 
    vertical-align:middle; 
}
.secondary-label {
            color: #ccc;
            margin: 0px;
        }
.color1 {
    color:#aad933;
}

.indicator.color1 {
    background:#aad933;
}
.flotTip {
    font-size: 14px;
    padding:10px;
    background: #fff;
    border: 1px solid #ffae00;
    border-radius: 4px;
}

.progress-bar.color1 {
    background-color: #aad933;
}

.color2 {
    color:#69b2dd;
}

.progress-bar.color2 {
    background-color: #69b2dd;
}

.color3 {
    color:#fe5373;
}

.indicator.color3 {
    background:#fe5373;
}


.progress-bar.color3 {
    background-color: #fe5373;
}

.color4 {
    color:#69e17d;
}

.progress-bar.color4 {
    background-color: #69e17d;
}

.color5 {
    color:#cc7fff;
}

.progress-bar.color5 {
    background-color: #cc7fff;
}

.color6 {
    color:#d5ed99;
}

.progress-bar.color6 {
    background-color: #d5ed99;
}

.color7 {
    color:#b3f1be;
}

.progress-bar.color7 {
    background-color: #b3f1be;
}

.color8 {
    color:#b4d8ee;
}

.progress-bar.color8 {
    background-color: #b4d8ee;
}

.color9 {
    color:#e6bffe;
}

.progress-bar.color9 {
    background-color: #e6bffe;
}

.color10 {
    color:#daf8de;
}

.progress-bar.color10 {
    background-color: #daf8de;
}

.color11 {
    color:#ffa22a;
}

.progress-bar.color11 {
    background-color: #ffa22a;
}


.card .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}

.table-title {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 14px;
}

.card-3-col {
    width: 28%;
    float: left;
    display: block;
    padding: 20px 30px;
    margin: 1%;
}

.card-5-col {
    width: 48%;
    float: left;
    display: block;
    padding: 20px 30px;
    margin: 1%;
    height: auto;
    transition: .8s all ease;
    -webkit-transition: .8s all ease;
    -ms-transition: .8s all ease;
    -moz-transition: .8s all ease;
    overflow:hidden;
}

.half-col {
    width: 48%;
    float: left;
    display: block;
    padding: 20px;
    margin: 1%;
    height: auto;
    transition: .8s all ease;
    -webkit-transition: .8s all ease;
    -ms-transition: .8s all ease;
    -moz-transition: .8s all ease;
    overflow:hidden;
}

.half-col .card-header .title {
    font-size:16px;
}

.card-5-col .grid-question-number {
    margin-right: 0px;
    width: 20%;
    padding:10px;
    padding-top:0px;
}

.card-5-col .grid-question-number .number {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-5-col .small-card-content {
    width: 65%;
    padding-bottom:0px;
}

.code {
    font-size: 11px;
}

.grid-question 
{
    float: left;
    display: block;
    width: 50%;
    padding:10px;
    height: auto;
    word-break: break-all;
}

.type6 .grid-question {
    width: 45%;
}

.type4 .grid-question, .type1 .grid-question ,.type3 .grid-question {
    width: 40%;
}

.grid-type 
{
    float: left;
    display: block;
    width: 15%;
    height: auto;
    padding:10px;
    word-break: break-all;
}

.type6 .grid-type {
    float:right;
}

.grid-question img {
    width: 100%;
    height: auto;
}

.grid-overall 
{
    float: left;
    display: block;
    width: 15%;
    height: auto;
    padding:10px;
    margin-top:-10px;
    word-break: break-all;
}

.card-4-col {
    width: 38%;
    float: left;
    display: block;
    padding: 20px 30px;
    margin: 1%;
    height: auto;
    transition: .8s all ease;
    -webkit-transition: .8s all ease;
    -ms-transition: .8s all ease;
    -moz-transition: .8s all ease;
    overflow:hidden;
}

.card-6-col {
    width: 58%;
    float: left;
    display: block;
    padding: 20px 30px;
    margin: 1%;
    height: auto;
    transition: .8s all ease;
    -webkit-transition: .8s all ease;
    -ms-transition: .8s all ease;
    -moz-transition: .8s all ease;
    overflow:hidden;
}

.card-7-col {
    width: 68%;
    float: left;
    display: block;
    padding: 20px 30px;
    margin: 1%;
}

.full-row {
    width: 98%;
    margin: 1%;
    height: auto;
    clear: both;
}

.survey-info {
    width: 70%;
    float:left;
}

.user-info {
    width: 30%;
    float:left;
}

.user-info ul.list-group .list-group-item {
    font-size: 12px;
    padding:5px 0px;
}

.user-info ul.list-group .list-group-item > .list-value {
    width: 200px;
    text-align: right;
    font-size: 12px;
    overflow: hidden;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.small-card-content
{
    padding-bottom: 20px;
    width: 100%;
    display: block;
    clear: both;
    margin: 0 auto;
}

.info-label {
    padding-bottom: 10px;
    color: #757575;
}

.chart-footer
{
    width: 85%;
    display: block;
    min-height: 115px;
    margin: 40px auto;
    margin-bottom: 60px;
}

.chart-info
{
    width: 23%;
    float: left;
    display: block;
    margin-right: 15px;
    position: relative;
}

.chart-border
{
    width:1px;
    height:50px;
    border-right:1px solid #ccc;
    position: absolute;
    top:0px;
    right:0px;
}

.chart-info:nth-last-child(2) 
{
    border-right:0px;
}

.chart-total-responder
{
    float: left;
    display: block;
    width: auto;
    margin-top: -15px;
    margin-left: 15px;
    border-radius: 5px;
}
.canvasjs-chart-credit
{
    display: none !important;
}
.border-box
{
    border: 1px solid #cccccc;
    padding:5px 20px;
    border-radius: 5px;
}

small.highlight 
{
    color:#ffae00;
}

.start_date, .end_date, #survey-end-date, #survey-start-date
{
    font-weight:700;
    color: #757575;
}

.response_number
{
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    margin:0px;
}

.chart-info small {
    font-size: 12px;
    color: #757575;
}

.list-group-item
{
    position: relative;
    padding: 10px 0px;
    font-size: 16px;
    clear: both;
}

.list-group-item > .list-value 
{
    float: right;
    width: 50px;
    font-size: 14px;
    text-align: right;
}

.list-group-item > .list-text-value
{
    float: right;
    width: 200px;
    font-size: 16px;
    text-align: left;
}

.list-group-item > .list-percentage 
{
    float: left;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: left;
}

.big-progress-group .list-group-item > .list-percentage {
    font-size: 24px;
    line-height: 50px;
    width: 55px;
}

.big-progress-group .progress {
    height: 40px;
    padding-right: 50px;
}

.med-progress-group .list-group-item .progress .list-percentage {
    font-size: 24px;
    line-height: 28px;
    width: 55px;
    /*height: 50px;*/
    padding-left:10px;
    display: inline-block;
}

.med-progress-group .progress {
    height: 30px;
}

.med-progress-group .list-group-item > .list-value 
{
    float: left;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: left;
    font-size: 24px;
    line-height: 40px;
    width: 55px;
}

.answer-attempt-container {
    margin-top:20px;
    margin-bottom: 20px;
}

.answer-attempt-container .title {
    margin:0px;
    margin-bottom: 10px;
    font-size:16px;
}

.answer-item {
    margin-bottom:30px;
}

.answer-item .progress {
    height: 15px;
}

.answer-item .progress .list-percentage {
    font-size: 14px;
    line-height: 14px; 
    vertical-align: top;
    padding-left: 10px;
}

.list-group-item > p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom:0px;
}

.dot {
    width: 30px;
    height: 50px;
    float:left;
}

.question {
    font-size: 14px;
    word-break: break-word;
}

.progress
{
    height: 10px;
    overflow: hidden;
    border-radius: 4px;
    margin: 5px 50px;
}

.progress.stacked 
{
    height: 90px;
    overflow: hidden;
    border-radius: 0px;
    margin: 25px 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
        
.progress-bar
{
    float:left;
    height: 100%;
    background-color:#ff0000;
    width: 0;
    border:0px;
    padding: 0px;
    box-shadow:none;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;

}

.progress.stacked .progress-bar {
    border-radius:0px;
    position:relative;
}

.progress.stacked .progress-bar .value
{
    position: absolute;
    top: -30px;
    display: block;
    left: 45%;
    font-size: 18px;
    color: #000;
}

.progress.stacked .progress-bar .percentage
{
    position: absolute;
    bottom: -30px;
    display: block;
    left: 45%;
    font-size: 18px;
}

.progress.stacked .progress-bar:first-child {
    border-radius:0px;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
}

.progress.stacked .progress-bar:last-child {
    border-radius:0px;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
}

.rounded-img {
    border-radius: 50%;
}

.answer-image
{
    width:25px;
    height: 25px;
    float:left;
    /*background-color: #ccc;*/
    margin-right: 10px;
    vertical-align: middle;
}

ul.type3 {
    list-style-type:disc;
}

ul.type3 .list-group-item {
    border-bottom: 1px solid #ccc;
    margin-left: 30px;
    font-size:14px;
}

ul.type3 .list-group-item > p {
    margin-left:30px;
}

ul.type3 .list-group-item > .list-answer-count {
    float: left;
    width: 50px;
    text-align: left;
    margin-left:-25px;
}

u.type3 .list-group-item .dot {
    width:5px;
    height: 5px;
    background:#000;
    border-radius:50%;
}

.see-more-btn-s 
{
    display: block;
    margin-top:10px;
    text-align:right;
}

.legends {
    position:absolute; top:20px; right:20px; font-size:12px;
}

.legend-item {
    display:table-cell; vertical-align:middle; padding:0px 15px;
}

.legend-icon {
        display: table-cell; padding-right: 10px; vertical-align: middle;
}

.legend-icon > .legend-color1 {
    width:10px; height:10px;background:#aad933;
}

.legend-icon > .legend-color2 {
    width:10px; height:10px;background:#69b2dd;
}

.legend-icon > .legend-color3 {
    width:10px; height:10px;background:#fe5373;
}

.legend-item label {
    display:table-cell; vertical-align: middle;
}

#personnel-completed-value,
#personnel-completed-percentage,
#personnel-incompleted-value,
#personnel-incompleted-percentage,
#personnel-absent-value,
#personnel-absent-percentage {
    display: none;
}

#responder-table, .responder-table, #single-survey-table-wrapper {
    display: none;
}

#responder-table th, #single-survey-table th,  .responder-table th {
    background-color:#fff;
    border-top:2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 10px 30px;
}

#responder-table th a, #single-survey-table th a,  .responder-table th a {
    color:#000;
    font-weight: 700;
}

#responder-table td, #single-survey-table td ,  .responder-table td {
    padding: 10px 30px;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    min-width: 100px;
    overflow: hidden;
}

#user-report-section {
    display: none;
}

#user-report-section .grid-question-number {
    font-size: 24px;
    font-weight: 700;
    width: 22%;
}

#user-report-section .grid-answer {
    width: 100%;
}

#user-report-section .grid-question {
    width: 50%;
}

.hidden {
    display: none !important;
}

.clearfix {
    clear: both;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.dynatable-pagination-links li:first-child {
    display: none;
}

.dynatable-pagination-links li, .dynatable-pagination-links span {
    padding: 0px 5px;
    border: 1px solid #cdcdcd;
    border-radius: 0px;
    color: #ccc;
    background: #fff;
}

.dynatable-active-page {
    background: #e6e6e6 !important;
    border-radius: 0px !important;
    color: #959595 !important;
}

.dynatable-disabled-page, .dynatable-disabled-page:hover {
        background: #e2e2e2 !important;
}

.dynatable-page-break {
        padding: 5px 7px !important;
    border: 0px !important;
    background: none !important;
}

.dynatable-pagination-links {
    position: absolute;
    width: 100%;
}

.breadcrumb-participant
{
    width: 300px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 50%;
}

.input-group .fa {
    position: absolute;
    top: 10px;
    left: 35px;
    color:#bbb;
    z-index: 3;
}

.input-group .search-input {
    position: relative;
    float: left;
    width: 100% !important;
    z-index: 2;
    background: #fff !important;
    border-bottom: 0px !important;
    margin-left:20px;
    padding-left:40px !important;
}

.filter-section
{
    margin-top:20px;
}

.select-label {
    width: auto;
    float: left;
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    padding-right: 15px;
    padding-left: 0px;
    padding-top: 10px;
}

#single-survey-table-wrapper .grid-overall {
    float: right;
}

#single-survey-table-wrapper .card-header {
    padding: 20px;
}

#single-survey-table-wrapper .grid-question-number
{
    width: 15%;
}

#single-survey-table-wrapper .number
{
    font-size: 26px;
}

.chart-section .legends
{
    top: -40px;
    right: -25px;
}

.chart-section ul.line-legend li {
    display: inline-block;
    margin-right: 25px;
}

.chart-section ul.line-legend li span:first-child {
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    margin: 3px;
    margin-right: 10px;
}

/******MATCHUP********/
.data__sidebar__list {
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom: 0px;
}
.data__sidebar__link {
    font-size: 14px;
}
.data__sidebar__link--active {
    font-weight: 700;
}
 #matchup_improvement {
    padding-top: 20px;
}
#matchup_improvement .title-section {
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
}
.title-section h1 {
    font-size: 24px;
    font-weight: 500;
    vertical-align: middle;
}
.matchup-info, .header-left {
    width: 60%;
    float: left;
}
.header-side, .header-right {
    width:40%;
    float:right;
}

.header-list {
    margin-top:10px; 
    margin-bottom:30px;
}

.header-list li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.rounded-indicator {
    width:12px;
    height: 12px;
    border-radius: 50% 50%;
    background: #ccc;
    display: inline-block;
    vertical-align:middle;
}

#matchup_improvement .chart-footer{
    width: 95%;
    position:relative;
}

.chart-info .small-info {
    position: absolute;
    right: 20px;
    top: 5px;
    border:1px solid #ccc;
    border-radius: 5px;
    color: #000000;
    /*font-style:italic;*/
    padding: 5px 10px;
}
.chart-info .small-info label {
    margin-bottom: 0px;
}
#matchup_improvement .filter-section {
    margin-top: 0px;
}

.table-legends label {
    display: inline-block;
    margin-right: 20px;
}
.status-legends {
    width:40%; float:left;
    text-align: right;
    padding-right: 50px;
}
.attempt-legends {
    width:30%; float:left; text-align: right;
} 
.inline-ul {
    display: inline-block;
}
.inline-ul li {
    display: inline-block;
    padding: 10px;
}
.indicator {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}
.attempts-legends .indicator {
    border-radius: 0px;
}
.responder-table .indicator {
    margin-right: 0px;
}
.unlisted-indicator {
    background: #f6e04a;
}
.active-indicator {
    background: #3386ec;
}
.hidden-indicator {
    background: #878787;
}
.correct-indicator {
    background: #9fe752;
}
.wrong-indicator {
    background: #d62222;
}
.unique-indicator {
    background: #3386ec;
}
.accumulated-indicator {
    background: #f0a400;
}
#topic-table {
    display: none;
}
#question-table .question-image{
    display: inline-block;
    width: 50px;
    height: 50px;
    /*background: #ccc;*/
    vertical-align: middle;
    margin-right: 10px;
    float:left;
}
#question-table td .text {
    display: block;
    float: left;
    width: 80%;
    margin-bottom: 0px;
    vertical-align: middle;
}
.answer-attempt-list {
    list-style-type: lower-alpha;
    margin-left: 15px;
}
.card-content {
    padding:25px 30px;
    width: 100%;
}
.activity-label {
    width: 165px;
    float: left;
    border-right: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}
.activity-progress {
    float: left;
    width: 50%;
}
.activity-progress .progress.stacked {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
    padding-right: 35px;
}
.activity-progress .progress.stacked .value {
    display: block !important;
    color: #000;
    z-index: 22222;
    width: 50px;
    height: 40px;
    top: -20px;
    font-size: 14px;
    left: 90%;
}
.activity-progress .progress.stacked .align-value {
    display: block !important;
    color: #000;
    z-index: 22222;
    width: 50px;
    height: 40px;
    top: 0px;
    font-size: 14px;
    left: 110%;
    position: absolute;
    z-index:10;
}
.activity-progress .progress.stacked .progress-bar {
    border-radius: 0px;
}
.card-content-left, .card-content-right {
    width:50%; float:left;
}
.card-header .mdl-selectfield select {
    border-bottom: 0px;
    font-weight: 700;
}
.responder-table th {
    /*border-left: 1px solid #ccc;*/
}
#matchup_improvement .responder-table td {
    border-right: 1px solid #f5f5f5;
    padding:10px 30px;
}
.responder-table td img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    /*padding-right: 10px;*/
}
.responder-table .list-group-item {
    padding: 0px;
}
.responder-table .list-group-item > .list-percentage {
    height: auto;
    font-size: 12px;
    line-height: 14px;
}
.responder-table .list-group-item .progress {
    height: 12px;
}
.btn-detail {
    background: #f5f5f5;
    border: 1px solid #ccc;
    color: #000;
}
.btn-detail:hover {
    background: #ccc;
    border: 1px solid #ccc;
    color: #000;
    transition: .5s all ease;
    -moz-transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -ms-transition: .5s all ease;
}
.search-section {
    margin: 1%;
}
.search-section .search-input {
    background:#dddddd !important
}

.pagination {
    display: inline-block;
    padding-left: 0px;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li:first-child > a{
    margin-left: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius : 4px;
}
.pagination > li:last-child > a {
    margin-left: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius : 4px;
}
.pagination > .disabled > a {
    color: #ccc;
    cursor: not-allowed;
    background: #f9f9f9;
    border-color:#ccc;
}
.pagination > .active > a {
    z-index: 3;
    color:#ccc;
    background:#f9f9f9;
    border-color: #ccc;
}

.pagination > li > a {
    position: relative;
    float:left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    background:#fff ;
    border: 1px solid #ddd;
}
.chart-legends {
    position: absolute;
    top: -50px;
    right: 0px;
    width: auto;
}
.chart-legend-item .color-indicator {
    width:15px;height:15px; display:inline-block;
}
.chart-legend-item {
    height: 15px;
}
.chart-legend-item span {
    vertical-align: top;display: inline-block;font-size: 11px; padding-left:5px;
}

#closeDetail {
    position: absolute;
    top:15px;
    right:20px;
    color:#000;
}

.spinner {
    color:#000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chartDetail {
    position:absolute;
    display: none;
    border: 1px solid #ccc;
    padding: 2px;
    color: #fff;
    padding: 5px 20px;
    background-color: rgba(255,255,255,1);
    z-index: 2;
}

.chart-detail-content {
    color:#000;
    height:100%;
}

.detail-header {
    text-align: center;
    padding:10px;
}

.date-title {
    text-align:center;
    display: inline-block;
    vertical-align: middle;
    margin:0px;
    font-weight: normal;
    font-size: 20px;
}

.toggle-date-btn {
    text-align:center;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    color: #000;
}

.toggle-date-btn.inactive {
    color: #ccc;
    cursor: default;
}

.footer-block {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.footer-block:last-child {
    border-right:0px;
}

.footer-block h1 {
    font-weight: normal;
    font-size: 26px;
    margin: 0px;
}

#chart-detail-table td img {
    margin-right:10px;
    border-radius:5px;
}

.chart-detail-content .dynatable-per-page {
    display: none;
}

.chart-detail-content .dynatable-pagination-links li {
    display: inline-block;
    padding: 5px 10px;
}

.chart-detail-content .dynatable-pagination-links li a {
    cursor: pointer;
}

.dynatable-disabled-page {
    color: #aaa;
    cursor:default;
}

.dynatable-disabled-page:hover {
    color: #aaa;
}

.chart-detail-content .dynatable-pagination-links {
    text-align: center;
    width: 100%;
    /*display: none;*/
    position: relative;
}

.dynatable-pagination-links li:first-child {
    display: none;
}

.detail-body {
    height:85%;
}

.detail-footer {
    margin-top:10px;
}