/* ==========================================================================
   Admin Console
   ========================================================================== */

.adminconsole {
    background: white;
    display: flex;
    overflow: hidden;
    height: calc(100vh - 150px);
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;

    > * {
        overflow: auto;
        height: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
    }
    @include e('main') {
        padding: $base-spacing;
        padding: 2rem;
        // display: flex;
        flex: 1;

        @include e('container') {
            // flex: 1;
            display: flex;
            flex-wrap: wrap;
        }
    }
    @include e('side') {
        border-left: $base-border;
        padding: 2rem;
        width: 288px;
    }
}


/*
   Section Links
   ========================================================================== */

.sectionlink {
    @extend %center;
    border-radius: $base-border-radius;
    color: $base-font-color;
    // display: inline-block;
    // vertical-align: top;
    padding: $base-spacing;
    width: 20%;
    @include e('image') {
        display: block;
        height: 69px;
        margin: 0 0 $base-spacing*1.5;
        img {
            @include vertical-align;
        }
    }
    @include e('title') {
        display: block;
        font-size: rem(14);
        font-weight: 600;
        margin: 0 0 $small-spacing/2;
    }
    @include e('description') {
        display: block;
        line-height: 1.3;
    }
    &:hover {
        background: $black-haze;
    }
}


/*
   Admin Console Sidebar
   ========================================================================== */

.adminconsole__side {
    .unit {
        margin: 0 0 $base-spacing*2 0;
        @include e('title') {
            border-bottom: $base-border;
            font-size: rem(14);
            margin: 0 0 $base-spacing;
            z-index: 10;
        }
        @include e('link') {
            @extend %uppercase;
            background: url(../img/icon-reports.png) no-repeat left center;
            background-size: 18px;
            color: $base-font-color;
            display: block;
            font-weight: 600;
            margin: $base-spacing 0 0;
            padding: 0 0 0 $base-spacing+1;
        }
    }
    // Activity
    .activity {
        @include e('item') {
            margin: 0 0 $small-spacing;
            &:before {
                @include vertical-align;
                content: "\f111";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                font-size: rem(12);
                margin: 0 $base-spacing 0 0;
                z-index: 1;
            }
            @include e('percentage') {
                color: $medium-gray;
                float: right;
            }
        }
    }
    .notifications {
        @include e('item') {
            display: flex;
            align-items: flex-start;
            margin: 0 0 $small-spacing;
            @include e('image') {
                border-radius: 50%;
                // float: left;
                margin: 5px $small-spacing*1.5 0 0;
                width: 20px;
            }
        }
    }
}
