// ==========================================================================
// Company Profile
// ==========================================================================



.companyprofile {
    margin: $base-spacing*2 auto;
    max-width: 800px;
}

.f-accordion {

    @include m('completeview') {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    @include m('detailedview') {
        .f-accordion__head,
        .f-accordion__body,
        .f-accordion__section--active {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
    }

    @include e('head') {
        background: $tin;
        color: white;
        margin: 0;
        padding: $base-spacing*2;

        .Media-figure {
            margin-right: $base-spacing*1.5;
            border-radius: 0;
            width: 160px;
        }

        @include e('title') {
            margin: 0;
        }
        @include e('subtitle') {
            font-size: em(18);
            font-weight: 400;
        }
    }

    @include e('body') {
        .f-accordion__section {
            &:first-child {
                .f-accordion__section__link {
                    border: none;
                }
            }
        }

        &.card {
            padding: 0;
        }
    }

    @include e('section') {
        background: white;
        // border-top: $base-border;
        // border-top: 1px solid rgba(208,208,208,0.4);
        // padding: $base-spacing*2;

        @include e('link') {
            background: white;
            border-top: $base-border;
            display: block;
            padding: $base-spacing*2;
            &:hover {
                background: #EFEFEF;
            }
        }

        @include e('title') {
            color: $base-font-color;
            font-size: em(20);
            position: relative;
        }
        @include e('subtitle') {
            color: $tin;
            font-weight: 400;
        }
        @include e('pad') {
            padding-top: $base-spacing*1.5;
        }

        @include m('active') {
            //margin: $base-spacing*2 (-$base-spacing);
            padding: 0 $base-spacing*2 $base-spacing*2;

            .changepassword & {
                padding-top: $base-spacing*2;
            }

            .f-accordion__section__title {
                border-bottom: $base-border;
                font-size: em(24);
                margin: 0 (-$base-spacing*1.35);
                padding: $base-spacing $base-spacing*1.35 $small-spacing;
                &:after {
                    @extend %content;
                    background: url(../img/cheverons-24.svg) no-repeat;
                    opacity: .5;
                    @include position(absolute, 43% null null $small-spacing*.8);
                    @include size(24px);
                }
            }
        }
    }

}

// Settings Table
// ==========================================================================

.settings-table {
    table-layout: fixed;
    tr {
        vertical-align: top;
    }
    td {
        border: none;
    }
    @include e('title') {
        font-weight: bold;
        padding: 20px 8px 13px 0;
        text-align: left;
        vertical-align: top;
        word-wrap: break-word;
        width: 175px;
    }
    @include e('content') {
        padding: 20px 20px 13px 20px;
        vertical-align: top;

        body &> *:first-child {
            margin-top: 0;
        }

        .changepassword & {
            padding-bottom: 0;
        }
    }
    .label {
        font-weight: 500;
        margin: $base-spacing 0 $small-spacing;
        @include m('far') {
            margin-top: $base-spacing*2;
        }
    }
    #{$all-text-inputs},
    select {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        width: 50%;
    }
    .mdl-selectfield {
        width: 50%;
        select {
            width: 100%;
        }
    }
    .selection {
        margin: 0 0 $base-spacing;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        input[type="radio"] {
            position: absolute;
            left: (-$base-spacing*1.5);
            top: 4px;
        }
        img {
            display: block;
            margin: $small-spacing 0 0;
            max-buttonwidth: 100px;
        }
    }

}

.emailtextbox {
    // background: transparentize(pink, .8);
    input[type="text"] {
        display: inline-block;
        width: 45%;
        width: auto;
    }
}

.changepassword {
    input[type="submit"] {
        margin-top: $base-spacing*2;
    }
}

.profile-section{
    margin-top:30px;
    display: inline-flex;
    margin-bottom:20px;
}

.profile-header{
    font-weight:bold;
    margin-bottom:20px;
}

.profile-radiobutton{
    input{
        float:left;
        margin-right:11px;
    }
}

.profile-email-section{
    width: 500px; 
    height: auto;
    margin-bottom:80px;
}

.email-textbox{
    position:relative;
    height:120px;
}

.profile-detail {
    width: 95% !important;
    float: left;
}

.profile-tb-detail {
    margin-top:10px;
    border:1px solid $light-gray !important;
    width: 95% !important;
    height:120px;
    float: left;
}

.profile-tb-lettercount{
    position:absolute; 
    bottom:0; 
    margin-left:-30px;
}

.profile-lettercount {
    margin-top: 10px;
    float: right;
}

.profile-margin{
    margin-left:25px;
}

.profile-radiobutton-image{
    @extend .profile-margin;
    outline-style:double;
    outline-color:$light-gray;
}