// ==========================================================================
// Dashboard Console
// ==========================================================================

.posts {
    // background: lime;
    padding: $base-spacing*2;
}

.post {
    background: $wild-sand;
    margin: $small-spacing;
    display: block;
    vertical-align: top;
    width: 550px;

    // Post Status
    @include e('status') {
        background: white;
        padding: $small-spacing $small-spacing $small-spacing 0;
    }

    &.reported {
        .post__content__article:first-child {
            color: $valencia;
        }
        .post__head {
            .post__user__body {
                &:after {
                    @extend %center;
                    background: red;
                    border-radius: 100%;
                    content: '\f12a';
                    font-family: FontAwesome;
                    font-size: rem(12);
                    line-height: 20px;
                    // padding: $small-spacing;
                    position: absolute;
                    right: 0;
                    vertical-align: middle;
                    @include center(y);
                    @include size(20px);
                }
            }
        }
    }

    // Post Head
    @include e('head') {
            position: relative;
        .post__user {
            background: $tin;
            background: $safety-orange;
            color: white;
            margin: 0;
            // padding: 0 $small-spacing $small-spacing;
            padding: $small-spacing;
        }
        .post__user__body {
            position: relative;

        }
        .post__user__body__content {
            // color: $light-gray;
            color: white;
        }
        .post__user__action .chips__button {
            color: white;
        }
        .post__user__action .chips--02__button {
            color: white;
        }
        .chips--02__menu {
            width: 280px;
            a {
                padding: $small-spacing*1.5;
                max-width: 280px;
            }
        }
    }


    // Post Content
    @include e('content') {
        padding: $base-spacing $base-spacing*1.5 0;
        @include clearfix;

        // Post Content Media
        @include e('media') {
            margin-bottom: $small-spacing;
            img {
                display: block;
            }
        }

        // Post Content Article
        @include e('article') {
            // background: lightgoldenrodyellow;
            font-size: rem(16);
            position: relative;
            @include clearfix;

            .chips--02 {
                position: absolute;
                right: 0;
                top: 0;
            }

            &.reported {
                color: $valencia;
                padding-right: $base-spacing*2.5;
                &:after {
                    @extend %center;
                    background: $valencia;
                    border-radius: 100%;
                    color: white;
                    content: '\f12a';
                    font-family: FontAwesome;
                    font-size: rem(12);
                    line-height: 20px;
                    // padding: $small-spacing;
                    position: absolute;
                    right: 35px;
                    top: 5px;
                    vertical-align: middle;
                    // @include center(y);
                    @include size(20px);
                }
            }
        }
        // Post Content Meta
        @include e('meta') {
            // background:yellow;
            // border: $base-border;
            // border-width: 1px 0 0 0;
            color: shade($light-gray, 10%);
            font-size: rem(16);
            span {
                display: inline-block;
                padding: 0 $small-spacing $small-spacing;
            }
            a {
                color: shade($light-gray, 10%);
            }
        }
        // Post Content Comments
        @include e('comments') {
            // padding-top: $small-spacing;
            // padding-left: $base-spacing;

        }
        @include e('comment') {
            border-top: $base-border;
            border-color: white;
            padding-top: $small-spacing;
            position: relative;

            // Post Replies are comments on comments

            .post__content__comment {
                border-color: $light-gray;
                // background: shade($wild-sand, 10%);
                padding-left: $base-spacing;

                + .post__content__comment {

                    margin-left: $base-spacing;
                    padding-left: 0;
                }
            }



        }
    }

	// Approval header
	@include e('profile-header'){
		@extend .Media;
		margin-bottom: $small-spacing;
		padding:$small-spacing;
		background:$safety-orange;

		 @include e('body') {
            @extend .Media-body;

            @include e('title') {
                font-weight: 600;
			color: white;

                .popup__content & {
                    font-weight: 400;
                }
            }

            @include e('content') {
                color: white;
                span {
                    display: inline-block;
                    &.visibility {
                        margin-left: $small-spacing;
                    }
                }
            }
        }
	}

    // Post Content User
    @include e('user') {
        // background: transparentize(mediumslateblue, .8);
        @extend .Media;
        margin-bottom: $small-spacing;

        @include e('figure') {
            @extend .Media-figure;
            border-radius: 0;
        }

        @include e('body') {
            @extend .Media-body;

            @include e('title') {
                font-weight: 600;
                a {
                    color: white;
                }

                .popup__content & {
                    font-weight: 400;
                }
            }

            @include e('content') {
                color: $medium-gray;
                span {
                    display: inline-block;
                    &.visibility {
                        margin-left: $small-spacing;
                    }
                }
            }
        }
        // User Report
        @include e('report') {
            font-weight: 400;
        }
        // User Action
        @include e('action') {
            .chips__button {
                @extend %transition;
                // @extend %hide;
            }
        }
        &:hover {
           .post__user__action {
                .chips__button {
                    display: block;
                }
           }
        }
    }

    // Post APP Look (Now they tell me)
    @include m('app') {
        padding-bottom: $small-spacing;

        .post__user {
            padding: $base-spacing $base-spacing*1.5 $small-spacing;
        }
        .post__user__action {
            .chips__button {
                display: block;
            }
        }
        .post__content {
            padding: 0;
        }
        .post__content__media {

        }
        .post__content__article {
            margin-bottom: $small-spacing;
            padding: $small-spacing $base-spacing $small-spacing $base-spacing;
        }
        .post__content__meta {
            margin-left: $base-spacing;
        }
        .post__content__stats {
            border-top: $base-border;
            color: $medium-gray;
            font-size: rem(16);
            margin-left: $base-spacing;
            padding: $small-spacing $base-spacing $small-spacing $small-spacing;
        }


    }




    // Post Send
    @include e('send') {
        // background: seashell;
        @include row;
        border-top: $base-border;
        padding: $base-spacing 0;
        padding: $small-spacing 0;
        position: relative;
        input[type="text"] {
            background-color: $base-background-color;
            border: $base-border;
            border-radius: $base-border-radius;
            // box-shadow: $form-box-shadow;
            box-sizing: border-box;
            color: $dark-gray;
            // font-family: $base-font-family;
            // font-size: $base-font-size;
            margin-bottom: 0;
            // padding: $base-spacing / 3;
            // padding: 1em;
            transition: border-color $base-duration $base-timing;
            // width: 420px;
            // float: left;
        }
        // input[type="submit"] {
        //     background: transparent;
        //     // background: lime;
        //     color: $medium-gray;
        //     border: transparent;
        //     float: right;
        //     margin-top: 5px;
        // }
    }


    // Post Action
    @include e('action') {
        border-top: $base-border;
        padding: $small-spacing $base-spacing*1.5;
        @include row;
        a {
            @extend %float-right;
            color: $medium-gray;
            padding: $small-spacing;
            &.primary {
                color: $action-color;
            }
        }
    }

}


.flyout {
    background: $tin;
    color: white;
    width: 60%;
    // width: rem(260);
    @include position(absolute, 0 -62% null null);
    z-index: 10;

    .post__content__comment & {
        // @include center(y);
        right: -68%;
    }

    &:after {
        @extend %content;
        @include position(absolute, 0 null null -6px);
        @include triangle(12px 6px, $tin, left);
        @include center(y);
    }
    .post__user {
        background: transparent;
        margin: 0;
        padding: $small-spacing;
    }
    .post__user__body {
        &:after {
            @extend %hide;
        }
    }
    .post__user__body__title {
        font-weight: 400;
        a {
            font-weight: 600;
        }
    }
    .post__user__body__content {
        color: white;
    }
}

.photoapproval {
    position: relative;
    padding-bottom: $base-spacing;
    @include row();
    img {
        @include span-columns(5);
    }
    .arrow {
        color: $medium-gray;
        @include span-columns(2);
        @extend %center;
        .fa {
            margin-top: 100%;
        }
        // span {
        //     display: block;
        //     @include triangle(24px, gray, right);
        //     position: absolute;
        //     @include center;
        // }
    }
}


//
// Post Announcement
// ==========================================================================

.post-announcement {
    background: $wild-sand;
    border: none;
    padding: 0;
    width: 680px;

    @include e('header') {
        border-bottom: $base-border;
        padding: $small-spacing 0;

        @include e('link') {
            border-left: $base-border;
            color: $medium-gray;
            position: relative;
            padding: 0 0 0 $base-spacing;

            &:first-child {
                border: none;
                padding-right: $base-spacing;
            }

            @include m('active') {
                color: $safety-orange;
                &:before {
                    @extend %content;
                    @include triangle(20px, $base-border-color, up);
                    @include position(absolute, null null -11px null);
                    @include center(x);
                }
                &:after {
                    @extend %content;
                    @include triangle(20px, $wild-sand, up);
                    @include position(absolute, null null -12px null);
                    @include center(x);
                }
            }
        }
    }

    @include e('write') {
        @include clearfix;
    }

    @include e('body') {
        background: white;
        border: $base-border;
        border-radius: $base-border-radius;
        box-shadow: $form-box-shadow;
        margin: $base-spacing;
        min-height: 100px;
        padding: $small-spacing $small-spacing $small-spacing 110px;
        padding: $small-spacing;
        position: relative;
        @include clearfix;


        @include e('profilephoto') {
            // @include position(absolute, $small-spacing null null $small-spacing);
            display: block;
            float: left;
            // margin-right: $small-spacing;
            img {
                display: block;
            }
        }
        textarea {
            // background: honeydew;
            border: none;
            margin: 0;
            min-height: 80px;
            padding: 0;

            float: right;
            width: 530px;
        }

        .tags {
            clear: both;
            margin: $small-spacing/2 0 0 -100px;
            margin: $small-spacing/2 0;
        }
    }

    @include e('footer') {
        padding: $base-spacing;
        @include clearfix;

        // display: flex;
        // justify-content: center;

        input {
            @extend %float-right;
        }
        select,
        .cs-select {
            // margin: 0 $base-spacing;
            // width: 30%;
        }
    }

    @include e('options') {
        @extend %float-left;
        margin: 0 $base-spacing;
        width: 30%;

        @include e('link') {
            display: block;
            padding: $small-spacing;
        }
    }

    @include e('preview') {
        background: white;
        border: $base-border;
        align-items: stretch;
        margin-top: $base-spacing;
        @include e('image') {
            border-right: $base-border;
            border-radius: 0;
            margin-right: $base-spacing;
            flex: 1 0 auto;
            width: auto;
            img {
                // width: 200px;
                display: block;
            }
        }
        @include e('body') {
            // display: flex;
            // flex-direction: column;
            // align-content: space-between;
            // align-items: stretch;
            flex: 0 1 auto;
            padding-right: $base-spacing;
            position: relative;
        }
        @include e('title') {
            font-size: rem(24);
            line-height: 1.3;
            margin-top: $small-spacing/2;
        }
        @include e('snippet') {
            margin-top: $small-spacing;
        }
        @include e('source') {
            @extend %uppercase;
            color: $medium-gray;
            @include position(absolute, null null $small-spacing 0);
            span {
                color: $safety-orange;
                border-right: $base-border;
                margin-right: $small-spacing/1.5;
                padding-right: $small-spacing;
            }
        }
        @include m('long') {
            display: block;
            .Media-figure {
                border: none;
                flex: 0 1 auto;
                width: 100%;
            }
            .Media-body {
                padding-left: $base-spacing;
                padding-bottom: $small-spacing;
            }
            .post-announcement__preview__source {
                position: static;
                margin-top: $base-spacing;
            }
        }
    }
}


.photos {
    // background: palevioletred;
    margin: $base-spacing 0 0;
    width: 619px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    img {
        display: block;
    }

    @include e('addmore') {
        background: white;
        border: 2px dashed $light-gray;
        color: $light-gray;
        display: inline-block;
        margin: 0 0 0 $small-spacing/2;
        position: relative;
        @include size(202px);
        .fa {
            font-size: rem(32);
            position: absolute;
            @include center;
        }
        &:hover {
            color: $medium-gray;
        }
    }
    .progress-bar-indication {
        border-color: $medium-gray;
        border-width: 1px;
        background: white;
        margin-bottom: 0;
        position: absolute;
        bottom: $small-spacing/2;
        width: 80%;
        @include center(x);
        > span.meter {
            background: $action-color;
            height: 1em;
        }
    }
}
.photo {
    border: $base-border;
    display: inline-block;
    margin: 0 0 0 $small-spacing/2;
    position: relative;
    vertical-align: top;
    &:first-child {
        margin-left: 0;
    }
    &:before {
        @extend %hide;
        @extend %content;
        @extend %transition;
        background: rgba(0,0,0,.3);
        @include position(absolute, 0 0 0 0);
    }
    &:hover {
        &:before {
            display: block;
        }
        .photo__remove {
            display: block;
        }
    }
    @include e('remove') {
        @extend %hide;
        @extend %center;
        @extend %transition;
        background: red;
        color: white;
        // display: block;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        @include position(absolute, $small-spacing $small-spacing null null);
    }

    @include m('video') {
        @include e('symbol') {
            @include position(absolute, 0 0 0 0);
            .fa {
                opacity: .8;
                color: $dark-gray;
                font-size: rem(48);
                position: absolute;
                @include center;
            }
        }
    }
}