// ==========================================================================
// Page: Error
// ==========================================================================



.page-error {

    @include m('container') {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(100%);
    }

    background: url(../img/robot.jpg) no-repeat right center;
    font-size: em(18);
    min-height: rem(300);
    padding: 0 130px 0 0;
    padding: $base-spacing 130px $base-spacing $base-spacing;
    width: em(660);

    .header__logo {
        font-size: rem(60);
        float: none;
        letter-spacing: -2px;
    }
    @include e('summary') {
        color: $medium-gray;
        margin: $base-spacing 0;
    }

}