// ==========================================================================
// Event Manager
// ==========================================================================

$event-status-live-color:#8cc63f;
$event-status-completed-color:#666666;
$event-status-upcoming-color:#ffcd00;
$event-status-suspended-color:#ff2851;

.event-manager {
  //
  // Event Manager Status
  // ==========================================================================

  @include  e('status') {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto auto;

    @include e('title'){
      margin:auto auto;
    }

    @include m('live') {
      background-color: $event-status-live-color;
    }

    @include m('completed') {
      background-color: $event-status-completed-color;
    }

    @include m('upcoming') {
      background-color: $event-status-upcoming-color;
    }

    @include m('suspended') {
      background-color: $event-status-suspended-color;
    }
  }

  //
  // Event Manager Participants
  // ==========================================================================

  @include e('participants') {
    &:before {
      font-family: FontAwesome;
      padding-right: 5px;
      vertical-align: middle;
    }

    @include m('everyone') {
      &:before {
        content: "\f0c0";
      }
    }

    @include m('department') {
      &:before {
        content: "\f0b1";
      }
    }

    @include m('personnel') {
      &:before {
        content: "\f007";
      }
    }
  }


  //
  // Event Manager Legend Bar
  // ==========================================================================

  @include e('legend-bar') {
    font-size: 11px;
    margin: 30px 0 20px 33px;
    //position:fixed;
    //bottom:0;
    //background-color: $medium-gray;
    @include e('title') {
      color: $medium-gray;
    }

    @include e('legends-box') {
      @include e('legend') {
        margin-right: 10px;
        display:table;

        span{
          float:left;
          padding-left:10px;
        }

        > .event-manager__status {
          float:left;
        }
      }
    }
  }


  //
  // Event Manager Add Event
  // ==========================================================================

  @include e('add-event') {
    margin-bottom: 3em;
    width: 60%;
    float:left;

    table.datatable {
      display: table;
      tbody {
        td.event-left-column-labels {
          width:130px;
          display:table-cell;
          white-space: pre;
          text-align: right;
          //vertical-align: top;
          padding-top: 20px;
        }


        td.event-left-column-labels, td.event-right-column-fields {
          border:none;
          padding: 10px;

          .form__row {
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;

            input, textarea {
              margin:0 2px 0 2px;

              &.full-border {
                padding-right: 35px;
                border: $base-border;
              }
            }

			textarea{
				overflow:hidden;
			}

            input, select, textarea, div {
              &.disabled {
                border:none;
              }
            }

            .mdl-selectfield.disabled {
              &:before {
                display: none;
              }
            }

            span.text-vertical-center {
              height:40px;
              line-height: 40px;
            }

            .lettercount {
              color: $dark-gray;
              @include position(absolute, null 10px 10px null);
            }

            input.date {
              width:150px;
            }

            input.time {
              width:55px;
            }

            .subtext {
              width: 100%;
              color:$light-gray;
              font-size: 0.9em;
              margin-top: 5px;
            }
          }

          .mdl-selectfield {
            border-bottom: $base-border;

            select {
              min-width: 60px;
              padding: 10px 30px 10px 10px;
              margin: 0;
              border:none;
            }

            select::-ms-expand {
              display: none;
            }
          }

          a.add-link {
            color:$action-color;
            margin-top: 15px;
          }

          .btn {
            float:right;
          }
        }
      }
    }
  }

  //
  // Event Manager Add Item
  // ==========================================================================
  @include e('add-item-container') {
    display: flex;
    flex-wrap: wrap;

    .item {
      border: $base-border;
      border-radius: 2px;
      padding:2px 5px 2px 10px;
      margin-right: 10px;
      white-space: nowrap;
      margin-bottom: 10px;

      a{
        color: $light-gray;
        margin-left: 5px;
        vertical-align: middle;
        display: inline-block;

        .close {
          position: relative;
          width: 15px;
          height: 15px;
          opacity: 0.3;
          @include transition(all 0.3s ease-in-out);
        }
        .close:hover {
          opacity: 1;
          @include transition(all 0.3s ease-in-out);
        }
        .close:before, .close:after {
          position: absolute;
          left: 5px;
          content: ' ';
          height: 15px;
          width: 2px;
          background-color: #333;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  //
  // Event Manager Preview Event
  // ==========================================================================
  @include e('preview-event') {
    float: right;
    width: 40%;
    height: 128px;

    .imageslider {
      width: 320px;

      #slider {
        .overlay {
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height: 100%;
          overflow:hidden;

          @include e('banner-header') {
            width: 100%;
            background-color: #ff9600;
            padding: 5px 50px 5px 10px;
            font-weight: bold;
            box-shadow: 0px 2px 4px #545454;

            span {
              color: #ffffff;
              font-width: normal;
            }
          }

          @include e('days-left-backing') {
            width: 50px;
            height: 20px;
            position: absolute;
            top:29px;
            right:10px;
            border-radius: 0px 0px 4px 4px;
            background-color: #ff9600;
            box-shadow: 0px 2px 4px #545454;
          }

          @include e('days-left') {
            position: absolute;
            top:0px;
            right:10px;
            color: #ffffff;
            padding: 5px 5px 0 0px;
			width: 45px;

            @include e('count') {
              font-size: 1.5em;
              line-height: 1em;
              font-weight: bold;
              text-align: center;
			  text-overflow: ellipse;
			  overflow: hidden;
            }

            @include e('txt') {
              font-size: 0.6em;
              font-weight: normal;
			  text-align: center;
            }
          }


          @include e('topic-icon') {
            width: 50px;
            margin: 10px 0 0px 14px;
            float: left;
          }

          @include e('topic-title') {
            color: #ffffff;
            width: 67px;
            height: 24px;
            margin-left: 6px;
            margin-top: 5px;
            text-align: center;
            font-size: 0.8em;
            line-height: 1.1em;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
          }

          @include e('topic-description') {
            float: left;
            color: #ffffff;
            font-size: 0.8em;
            line-height: 1.2em;
            font-weight: lighter;
            width: 246px;
            height: 62px;
            word-wrap: break-word;
            padding: 9px 64px 4px 0px;
            margin-left: 10px;
          }

          @include e('event-details') {
            color: #ffffff;
            float:right;
            font-size: 0.6em;
            line-height: 1.1em;
            text-align: right;
            margin-top: 5px;
          }

          @include e('play-btn') {
            width: 60px;
            float:right;
            margin: 0 5px 5px 10px;
          }

        }
      }
    }

    .subtext {
      width: 100%;
      color:$light-gray;
      font-size: 0.9em;
      margin-top: 5px;
    }
  }
}

//
// Event Manager Button
// ==========================================================================

.btn {
  @include m('suspend') {
    background-color: $event-status-suspended-color;
    border-color: $event-status-suspended-color;
    &:hover {
         background-color: darken($event-status-suspended-color, 5%);
    }
  }

  @include m('restore') {
    background-color: $event-status-live-color;
    border-color: $event-status-live-color;

    &:hover {
      background-color: darken($event-status-live-color, 5%);
    }
  }
}

//
// Event Manager App Bar Status
// ==========================================================================

.appbar {
  .event-manager__status {
    margin-top: 5px;
  }

  span.event-manager__status__text--live {
    color:$event-status-live-color;
  }

  span.event-manager__status__text--suspended {
    color:$event-status-suspended-color;
  }

  span.event-manager__status__text--upcoming {
    color:$event-status-upcoming-color;
  }

  span.event-manager__status__text--completed {
    color:$event-status-completed-color;
  }
}