// ==========================================================================
// Feed Console
// ==========================================================================


//
// Feed Permission
// ==========================================================================

.feed-permission {
    @include e('management') {
        // background: lime;

        @include span-columns(6);
        label {
            display: inline-block;
            margin: 0 $base-spacing 0 0;
        }
    }
    .chips--topicdepartment {
        // clear: both;
        display: inline-block;
        margin-top: $base-spacing;
    }
    .chips__container {
        margin-right: $small-spacing;
    }
    .departments-list {
        width: 65%;
        padding: 0 $base-spacing*2;
    }
}

.feed-action {
    @include span-columns(6);
    @include omega();
}


//
// Feed Suspend
// ==========================================================================

.feed-suspend {
    border-bottom: $base-border;
    padding-bottom: $base-spacing;
    @include e('search') {
        @include row;
        @include e('input') {
            position: relative;
            @include span-columns(5);
        }
        @include e('submit') {
            @include span-columns(3);
        }
    }
    .tag {
        background: $black-haze;
    }
}

.suspendedsearch {
    // background: red;
    position: relative;
    img {
        position: absolute;
        @include center(y);
        right: 0;
    }
}

//
// Feed Backup
// ==========================================================================

.feed-backup {
    border: $base-border;
    padding: $base-spacing;
    width: 550px;
    .content__title {
        + p {
            margin-top: -.8em;
        }
    }
    .btn {
        font-size: rem(18);
        margin: $base-spacing 0;
    }
}

