// ==========================================================================
// Login
// ==========================================================================

.login {
    @extend %center;
    @include e('header') {
        @include e('logo') {
            background: url(../img/logo-cocadre.png) no-repeat;
            height: 31px;
            margin: 40px auto;
            width: 151px;
            @include hide-text;
        }
        @include e('title') {
            font-size: rem(18);
        }
    }
    @include e('card') {
        background: $black-haze;
        border: none;
        padding: $base-spacing*3;
        width: 380px;
        @include e('image') {
            margin-bottom: $base-spacing;
        }
        @include e('submit') {
            &[type="submit"] {
                width: 100%;
            }
        }
        @include e('help') {
            display: block;
            margin: $small-spacing 0 0;
            text-align: left;
        }
    }
    @include e('footer') {
        font-size: rem(14);
        margin: $base-spacing 0;
    }

}

//
// Companies
// ==========================================================================

.companies {
    text-align: center;
    a {
        background: white;
        border-radius: 15px;
        display: block;
        margin: 0 auto;
        height: 111px;
        // padding: $base-spacing;
        width: 540px;
        margin: $base-spacing auto;
        // overflow: hidden;
        transition: box-shadow .25s;
        // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        position: relative;
        &:after {

        }
        span {
            @extend %visuallyhidden;
        }
        &.black {
            // background: black;
        }
        &.cool-black {
            // background: $cool-black;
        }
    }
    img {
        border-radius: 15px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);


    }
}

