/* ==========================================================================
   Personnel Console
   ========================================================================== */


.suspended,
.deleted {
    color: $valencia;
    display: inline-block;
    margin: 0 0 0 $small-spacing;
}

.gettingstarted-form {
    fieldset.form {
        margin-top: $base-spacing;
    }
    .instructions {
        a {
            display: inline-block;
            margin: 0 $base-spacing 0 0;
        }
    }

}

/*
   Add Photo
   ========================================================================== */

.popup--addphoto {
    fieldset {
        .btn {
            width: 45%;
            margin-right: $small-spacing;
        }
    }
}

/*
   Table overwrite
   ========================================================================== */
table {
    border-collapse: collapse;
    font-feature-settings: "kern", "liga", "tnum";
    margin: $small-spacing 0;
    table-layout: fixed;
    width: 100%;

    // img {
    //     border-radius: 50%;
    //     display: block;
    //     width: 40px;
    //     margin: 0 auto;
    // }
    a {
        display: inline-block;
        text-align: left !important;
        // i {
        //     color: $medium-gray;
        //     padding: $small-spacing;
        // }
    }
}

th {
    // border-bottom: 1px solid shade($base-border-color, 20%);
    @extend %border-bottom;
    font-weight: 500;
    // padding: $small-spacing 0;
    text-align: left;

    @include padding(1.2rem 2rem);

    &.thumbnail {
        padding: 0;
    }
}

td {
    border-bottom: $base-border;
    border-color: $wild-sand;
    // padding: $small-spacing 0;
    @include padding(1.2rem 2rem);
	white-space:normal !important;
	word-wrap:break-word;
    &.digit {
        text-align: right;
    }
}

tr,
td,
th {
    vertical-align: middle;
}

/*
   Add multiple user
   ========================================================================== */
.report-header{
    margin-top:40px;
    margin-bottom:40px;
}

.report-errorcount{
    color:red;
}

.report-error-message{
    margin-top:2em;
}

.report-upload {
    background: transparent !important;
    color: #4683ea !important;
    border:none !important;
    margin-top:10px;
    display:table-row !important;
}

