/* ==========================================================================
   Quiz Console
   ========================================================================== */


/*
   Add Topic
   ========================================================================== */

.add-topic {

    @include e('icon') {
        @extend %center;
        @include span-columns(1.5);
        color: $medium-gray;
    }

    @include e('info') {
        @include span-columns(10.5);

        @include e('progress') {
            @include span-columns(7.5 of 10.5);
            color: $medium-gray;
        }

        @include e('action') {
            @include span-columns(3 of 10.5);
            @include omega();
			float: right;
            color: $medium-gray;

            .btn {
                float: right;
                line-height: 22px;
                //width: 42%;
            }
        }

        @include e('details') {
            @include row();
            @include span-columns(12);
            // color: $medium-gray;
            margin-top: $small-spacing;

            label {
                // margin: 0;
                font-weight: 500;
            }

            @include m('basicinfo') {
                .column--input {
                    @include span-columns(6 of 12);
                    label {
                        margin-bottom: $small-spacing/2;
                    }
                }
                .column--choice {
                    @include span-columns(3.5 of 12);
                    @include shift(2.5);
                }

                .column--editable {
                    @include span-columns(8 of 12);
                    .form__row {
                        @include row(table);
                        label {
                            // @extend %float-left;
                            @include span-columns(2 of 12);
                            vertical-align: middle;
                        }
                        input,
                        textarea {
                            @include span-columns(10 of 12);
                            @include reset-display;
                        }
                    }
                }
                .column--noneditable {
                    @include span-columns(4 of 12);
                    dt {
                        @include span-columns(6 of 12);
                        vertical-align: middle;
                        margin: 0 0 $base-spacing;
                        font-weight: 400;
                    }
                    dd {
                        @include span-columns(6 of 12);
                        vertical-align: middle;
                        @include omega;
                        margin: 0 0 $base-spacing;
                    }
                }
            }

            @include m('department') {
                label {
                    // margin: 0;
                    color: $dark-gray;
                }
                // .departments-list-selectall {
                //     background: $wild-sand;
                //     border-radius: 2px;
                //     display: inline-block;
                //     @include pad($small-spacing $base-spacing);
                // }
                // .departments-list {
                //     width: 50%;
                //     label {
                //         @include span-columns(3);
                //         @include omega(4n);

                //     }
                // }
                .chips--topicdepartment {
                    .chips__menu {
                        width: 150px;
                        right: auto;
                        left: 0;
                    }
                }
            }

            @include m('settings') {
                .form__row {
                    @include span-columns(6);
                }
            }

        }

    }

}

.departments-list-selectall {
    background: $wild-sand;
    border-radius: 2px;
    display: inline-block;
    @include pad($small-spacing $base-spacing);
}
.departments-list {
    width: 100%;
    label {
        @include span-columns(3);
        @include omega(4n);
    }
}
.departments-list--asp {
    label {
        display: inline-block;
        margin: 0 15px 10px 0;
    }
}


/*
   Add Question
   ========================================================================== */

.add-question {
    @include e('questionnumber') {
        @extend %center;
        @include span-columns(1.5);
        color: $light-gray;
        line-height: 1;
        .number {
            font-size: rem(72);
        }
        label {
            text-align: left;
            @include padding($small-spacing $base-spacing $base-spacing);
            overflow-wrap: break-word;
            word-wrap: break-word;

        }
    }
    @include e('info') {
        @include span-columns(10.5);
        @include omega;
        @include e('header') {
            @extend %border-bottom;
            @include clearfix;
            @include e('action') {
                @extend %float-right;
                @include padding(0 0 .75em);
                .btn {
                    @extend %float-right;
                    &.transparent {
                       // font-size: rem(18);
                       // font-weight: 300;
                       // position: relative;
                       // right: -1em;
                    }
                }
            }
            @include e('title') {
                @extend %border-bottom;
                border-width: 0 0 3px;
                border-color: $awesome;
                float: left;
                @include margin(.75em 0 0);
                padding: $small-spacing $base-spacing;
            }
        }
        @include e('setup') {
            // @include row();
            @include span-columns(12);
            margin-top: $base-spacing;

            @include e('questiontype') {

                @include span-columns(4.8);
                // .form__row--questions {

                // }
                textarea {
                    display: block;
                    margin-bottom: 0;
                    padding-right: 20px;
					border:$base-border;
					-ms-overflow-style: none;
					overflow: hidden;
					&:focus{
						border-color:$action-color
					}
                }
                .lettercount {
                    color: $medium-gray;
                    @include position(absolute, null 5px 5px null);
                }
                .form__row--answer {
                    @extend %cursorpointer;
                    background: $wild-sand;
                    box-shadow:inset 0px 0px 0px 1px $light-gray;
                    position: relative;
					padding: 0 0 0 0;
                    // margin-left: $base-spacing;
                    //padding: 0 0 0 $small-spacing;
                    // @include padding(0 0 0 $base-spacing*1.2);
                    // &:after {
                    //     @include vertical-align;
                    //     // color: black;
                    //     color: $medium-gray;
                    //     content: "\f256";
                    //     font-family: FontAwesome;
                    //     font-style: normal;
                    //     font-weight: normal;
                    //     font-size: rem(10);
                    //     z-index: 1;
                    //     @include position(absolute, null null null $small-spacing*.8);
                    // }
                    &:first-child {
                        box-shadow:inset 0px 0px 0px 1px $pistachio;
                        textarea {
                            border-color: $pistachio;
                            color: $pistachio;
                        }
                        .lettercount {
                            color: $pistachio;
                        }
                        ::-webkit-input-placeholder {
                           color: $pistachio;
                        }

                        :-moz-placeholder { /* Firefox 18- */
                           color: $pistachio;
                        }

                        ::-moz-placeholder {  /* Firefox 19+ */
                           color: $pistachio;
                        }

                        :-ms-input-placeholder {
                           color: $pistachio;
                        }

                        &:after {
                            color: $pistachio;
                        }
                    }
                    &[draggable="true"] {
                        &:after {
                            content: "\f255";
                            color: black;

                        }
                    }
                    .lettercount {
                        color: $medium-gray;
                        @include position(absolute, null 5px 5px null);
                    }
                }
                .tabs__panels__item--questionformat02 {
                    .form__row--question {
                        textarea {
                            // background: orange;
                            height: 160px;
                        }
                    }
                    .form__row--answer {
                        @include span-columns(6);
                        @include omega(2n);
                    }
                }

                .tabs__panels__item--questionformat03 {
                    .form__row--question {

                    }
                    .form__row--answer {
                        @include span-columns(6);
                        @include omega(2n);
                    }
                }
            }
            @include e('preview') {
                @include span-columns(4.2);
                background: white;
                border: $base-border;
                min-width: 320px;
                min-height: 640px;
                position: relative;
                .btn {
                    position: absolute;
                    width: 180px;
                    @include center;
                }
            }
            @include e('choice') {
                @include span-columns(3);
                label {
                    font-weight: 500;
                }
            }
        }
    }
}


.uploadpad {
    @extend %center;
    // background: $wild-sand;
    color: $medium-gray;
    border: $base-border;
    border-width: 3px;
    border-style: dashed;
    min-height: 65px;
    position: relative;
    @include margin(0 0 $base-spacing);
    @include pad();
    @include span-columns(8);
}
.upload-help {
    font-size: rem(13);
    position: absolute;
    @include center;
}
.backgroundscheme {
    @include span-columns(4);
    @include omega;
}
.uploadcontrols {
    // @include span-columns(4);
    // @include omega;
    // margin-left: 2.3576515979%;
    @include span-columns(4);
    @include omega;
    margin-top: 1em;
}

.radical-image-container {
    // background: lime;
    font-size: 0;
    text-align: center;
    width: 240px;
    height: 110px;
    display: inline-block;
    span {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
    }
}



/*
   Questions Summary
   ========================================================================== */

.question {
    .add-question__info__header {
        border: none;
    }
    .add-question__info__header__action {
        margin-bottom: 0;
    }
    @include e('summary') {
        @include span-columns(10.5);
        // padding-top: $base-spacing;
    }
    @include e('image') {
        @include span-columns(1.5);
        min-height: 48px;
        img {
            border: $base-border;
        }
    }
    @include e('title') {
        @include span-columns(5.5);
        label {
            color: $light-gray;
        }
    }
    @include e('action') {
        @include span-columns(2);
        @extend %center;
        .btn {
            display: block;
        }
    }
    @include e('status') {
        @include span-columns(3);
    }

}


/*
   Questions Bar
   ========================================================================== */

#sticky_anchor {
    &.stick {
        height: 85px;
    }
}

.questions-bar {
    @extend %transition;
    // background: transparentize(lime, .5);
    width: 99.1%;
    @include row();
    &.stick {
        background: rgba(255,255,255,1);
        position: fixed;
		z-index: 15;
        top: 149px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .container {
        //@include padding($base-spacing);
		padding:10px 8px 10px 8px;
    }

    @include e('status') {
        @include span-columns(3);
        @include e('inner') {
            @include row(table);
        }
        label {
            @include span-columns(1 of 3);
            vertical-align: middle;
        }
        div.cs-select {
            @include span-columns(2 of 3);
            @include reset-display;
        }
    }

    @include e('search') {
        //Kevin:edit
		//Remove search by status  
		//@include span-columns(7);
		//float:left;
		display:block;
		//margin-right:3%;
		width:100%;
		@include e('input') {
			//@include input;
			float:left;
			width:91% !important;
		}
		@include e('button') {
			@extend .btn;
			@extend %float-right;
			display:block;
			width:7%;
			height:39px;
			i {
				margin:auto;
			}
		}
    }

    @include e('action') {
        @include span-columns(2);
        .btn {
            @extend %float-right;
        }
    }
}


//
// Question Preview
// ==========================================================================

.question-preview {
    background: black;
    color: white;
    min-height: 640px;

    @include e('header') {
        // background: #222;
        padding: $base-spacing;

        display: flex;
        justify-content: space-between;

        @include e('timer') {
            @extend %center;
            @extend %uppercase;
            color: $blue;
            font-size: rem(10);
            line-height: .9;
            span {

                display: block;
                font-size: rem(36);
            }
        }

        .Media {
            margin-bottom: 0;
        }
        .Media-figure {
            border: 3px solid $safety-orange;
            margin-right: $small-spacing/2;
        }
        .Media-body {
            line-height: 1;
            font-size: rem(12);
        }
		.Preview-body {
            line-height: 1;
            font-size: rem(12);
        }
        .score {
            color: $pistachio;
            font-size: rem(16);
        }

        @include e('score') {
            @include m('user02') {
                .Media-figure {
                    margin: 0 0 0 $small-spacing/2;
                }
                .Media-body {
                    order: -1;
                    text-align: right;
                }
				.Preview-body {
                    order: -1;
                    text-align: right;
                }
            }
        }
    }

	@include e('content') {
		width: 100%; 
		font-size: 1.25rem; 
		-ms-word-wrap: break-word;
	}


    @include e('question') {
        // background: red;
        @extend %center;
        padding: $base-spacing $base-spacing;

        p {
            font-size: rem(18);
            line-height: 1.3;
            margin: 0;
        }
    }

    @include e('image') {
        @extend %center;
        background: white;
        border-radius: 8px;
        margin: $base-spacing;
        padding: $base-spacing;
        position: relative;
        img {
            margin: 0 auto
        }
    }

    @include e('answers') {
        padding: 0 $base-spacing $small-spacing;
        @include row;
    }
    @include e('answer') {
        @extend %center;
        background: $safety-orange;
        border-radius: 8px;
        font-size: rem(20);
        line-height: 1.3;
        margin: $small-spacing 0;
        padding: $small-spacing $small-spacing/2;
    }

    // Question Format 02
    @include m('format02') {
        .question-preview__answers {
            margin-top: $base-spacing;
            padding-bottom: $base-spacing;
        }
        .question-preview__answer {
            @include span-columns(6);
            @include omega(2n);
            margin-top: 0;
            margin-bottom: 2.3576515979%;

        }
    }
}
