/* ==========================================================================
   Responsive Survey Console
   ========================================================================== */

/*
   Simple Card
   ========================================================================== */
.grid-question-number {
    float: left;
    display: block;
    margin-right: 2%;
    width: 10%;
    height: auto;
    word-break: break-all;
}

.grid-question {
    float: left;
    display: block;
    width: 50%;

    .image-placeholder {
        float: left;
        width: 100px;
        height: 100px;
        margin-right: 20px;
        margin-left: 10px;
    }

    img {
        border: 1px solid #cececc;
        width: 100px;
        height: 100px;
    }
}

.grid-question-icon {
    text-align: center;
    float: left;
    display: block;
    width: 10%;
}

.grid-question-expandable {
    float: right;
    display: block;
}

/*
   Option dropdown
   ========================================================================== */
.logic-dropdown {
    position: relative;
    display: inline-block;
}

.logic-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    max-width: 400px;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 20px;
}

.logic-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.logic-content a:hover {
    background-color: #f1f1f1;
}

.logic-dropdown:hover .logic-content {
    display: block;
}

/*
   Question preview
   ========================================================================== */

.survey-preview {
    min-height: 640px;
    max-height: 640px;
    overflow: auto;
    position: relative;
}

.preview-footer-content {
    width: 100%;
    height: 40px;
    justify-content: center !important;
    @extend %middle;
}

.preview-question {
    margin-top: 60px;
    margin-bottom: 20px;
    word-break: break-all;
    text-align: center;
    color: #666;
    justify-content: center !important;
    @extend %middle;
}

.preview-question-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.preview-question-image {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    max-width: 200px;
}

.preview-option {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    word-break: break-all;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 0px 8px;
    color: #7a7b7d;
    word-break: normal;
    word-wrap: break-word;
    white-space: normal;
    //min-height:50px;
    flex-wrap: nowrap !important;
    @extend %middle;
}

.preview-option-content {
    width: auto;
    margin: auto;
}

.preview-option-image {
    float: left;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 80px;
}

.preview-option-multi {
    @extend %middle;
}

.preview-option-tick {
    justify-content: center !important;
    margin-bottom: 20px;
    @extend %middle;
}

.preview-numberrange {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background: rgba(255, 255, 255, 0.8);
    color: #7a7b7d;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.preview-droplist {
    width: calc(100% - 40px);
    background: rgba(255, 255, 255, 0.8);
    color: #7a7b7d;
    border-radius: 5px;
    padding: 0px 8px;
    margin: 10px 20px;
    height: 3em;
}

.preview-others {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.preview-textarea {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    word-break: break-all;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 0px 20px;
    color: #7a7b7d;
}

.preview-textarea-content {
    height: 150px;
    justify-content: center !important;
    @extend %middle;
}

.preview-others-content {
    width: 30%;
    height: 40px;
    word-break: break-all;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 0px 5px;
    float: left;
    margin-right: 10px;
    color: #7a7b7d;
    justify-content: center !important;
    @extend %middle;
}

.preview-command-content {
    width: 65%;
    color: white;
    border-bottom: 1px solid white;
    float: right;
    text-align: left;
    height: 40px;
    color: #666;

    @extend %middle;
}

.right {
    margin-right: 8px;
    padding-top: 8px;
    display: block;
    text-align: right;
}
/*
   Edit Topic
   ========================================================================== */
.clear-float {
    height: 0px;
    clear: both;
}

.topic-detail {
    width: 95% !important;
    float: left;
}

.topic-lettercount {
    margin-top: 10px;
    float: right;
}

.setting-checkbox {
    input {
        float: left;
    }

    label {
        margin-top: -2px;
    }
}

.survey-lettercount {
    color: #999;
    right: 5px;
    float: right;
    margin-right: 10px;
    margin-top: -25px;
}

.survey-cross {
    background: rgba(0, 0, 0, 0.6);
    /*padding-top: 5px;
    padding-left: 10px;*/
    width: 30px;
    height: 30px;
    right: 0px;
    color: white;
    position: absolute;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content:center;
    -webkit-justify-content:center;
}

.upload-card-image {
    position: relative;
    bottom: 40px;
    left: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(/Img/icon-upload-photo.png);
    background-repeat:no-repeat;
}

.upload-option-image {
    position: relative;
    bottom: 40px;
    left: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(/Img/icon-upload-photo.png);
    background-repeat:no-repeat;
}

.options-container {
    margin-left: 20px;
}

.option-content {
    padding-left: 40px !important;
}

.question-image-content {
    margin-top: -23px;
}

.option-image-content {
    margin-top: -23px;
}

.logic-button {
    height: 20px;
    width: 120px;
    border-bottom: 1px solid black;
    float: left;
}
/*
   Survey Bar
   ========================================================================== */
#sticky_anchor {
    &.stick {
        height: 85px;
    }
}

.survey-bar {
    @extend %transition;
    // background: transparentize(lime, .5);
    width: 99.1%;
    @include row();

    &.stick {
        background: rgba(255,255,255,1);
        position: fixed;
        z-index: 15;
        top: 149px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .container {
        //@include padding($base-spacing);
        padding: 10px 8px 10px 8px;
    }

    @include e('status') {
        @include span-columns(3);

        @include e('inner') {
            @include row(table);
        }

        label {
            @include span-columns(1 of 3);
            vertical-align: middle;
        }

        div.cs-select {
            @include span-columns(2 of 3);
            @include reset-display;
        }
    }

    @include e('search') {
        //Kevin:edit
        //Remove search by status
        //@include span-columns(7);
        //float:left;
        display: block;
        //margin-right:3%;
        width: 100%;

        @include e('input') {
            //@include input;
            float: left;
            width: 80% !important;
        }

        @include e('button') {
            @extend .btn;
            @extend %float-right;
            height: auto;

            i {
                margin: auto;
            }
        }
    }

    @include e('action') {
        @include span-columns(2);

        .btn {
            @extend %float-right;
        }
    }
}
