// Debug

@if $debug == true {
    html body .header {
        background-color: transparentize(yellow, .8);
    }
    html body .footer {
        background-color: transparentize(green, .8);
    }
    html body .container {
        background: transparentize(lime, .9);
    }
    html body .magicshow {
        background: transparentize(blue, .8);
    }
    html body .magicshow__article {
        background: transparentize(yellow, 0.8);
    }
    html body .content {
        background: transparentize(purple, 0.8);
    }
}

// .mfp-hide {
//   display: block !important;
// }