// ==========================================================================
// Utilities
// ==========================================================================

.container {
    position: relative;
    @include outer-container;
}

.center {
    @extend %center;
}

.right {
    @extend %float-right;
}
.left {
    @extend %float-left;
}

.hide {
    @extend %hide;
}
// .clear {
//   clear: both;
// }

// .mfp-hide {
//   display: block!important;
// }


//
// Ordered & Unordered Lists
// ==========================================================================

ul.normal {
    @extend %default-ul;
    margin-bottom: $base-spacing;
    list-style-position: inside;
    padding-left: 20px;
    li {
        line-height: 1.3;
        margin-bottom: $small-spacing;
        text-indent: -1em;

    }
}
ol.normal {
    @extend %default-ol;
    margin-bottom: $base-spacing;
    list-style-position: inside;
    padding-left: 20px;
    li {
        line-height: 1.3;
        margin-bottom: $small-spacing;
        text-indent: -1em;

    }
}


// ==========================================================================
// Defaults
// ==========================================================================

:focus { outline: none; }
html {
    background: $wild-sand;
}

body {

}

body,
html,
form {
    height: 100%;
    min-height: 100%;
}

.app {
    height: 100%;
}

// .preload * {
//   -webkit-transition: none !important;
//   -moz-transition: none !important;
//   -ms-transition: none !important;
//   -o-transition: none !important;
// }


a {
    @include transition(all $base-duration $base-timing);
}

pre {
    background: transparentize(orange, .5);
}

.red {
    color: red;
}
.gray {
    color: $medium-gray;
}

.pad {
    @include pad(1rem 2rem);
    .data & {
        @extend %border-bottom;
        border-color: shade($wild-sand, 5%);
    }
}


//
// Constrained Image
// ==========================================================================

.constrained {
    border: $base-border;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    @include size(100px);
    overflow: hidden;
    position: relative;

    table & {
        //background: $dark-gray;
        @include size(50px);
    }

    img {
        position: absolute;
        @include center();

        min-width: 100px;
        min-height: 100px;

        table & {
            max-height: 60px;
            min-width: 60px;
            min-height: 0;
            // min-width: 40px;
            // min-height: 40px;
            // max-height: 40px;
            // max-width: 40px;
        }

    }
}




// .scroller {
//     overflow-x: auto;
//     overflow-y: scroll;
//     position: absolute;
//     zoom: 1;
//     left: 0px;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
// }

