/* ==========================================================================
   Placeholders, Helpers, Extend
   ========================================================================== */

%lead {
    font-size: em($base-font-size * 1.3);
    margin: 0 0 $base-spacing;
}

%hide {
    display: none;
}

%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%center {
    text-align: center;
}

%uppercase {
    text-transform: uppercase;
}

%content {
    content: '';
}

%transition {
    transition: all $base-duration $base-timing;
}

%border-bottom {
  border: $base-border;
  border-width: 0 0 1px;
}

%cursordefault {
  cursor: default;
}

%cursorpointer {
  cursor: pointer;
}

%middle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/*
   Floats
   ========================================================================== */

%float-left {
    float: left;
}
%float-right {
    float: right;
}



