/* ==========================================================================
   BEM Mixins
   https://css-tricks.com/snippets/sass/bem-mixins/
   ========================================================================== */

/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

/// @alias element
@mixin e($element) {
    @include element($element)  {
        @content;
    }
}

/// @alias modifier
@mixin m($modifier) {
    @include modifier($modifier) {
        @content;
    }
}

/* ==========================================================================
   Omega Reset for Bourbon Neat
   http://joshfry.me/notes/omega-reset-for-bourbon-neat
   ========================================================================== */

@mixin omega-reset($nth) {
    &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
    &:nth-child(#{$nth}+1) { clear: none }
}

/* ==========================================================================
   Center vertically and/or horizontally an absolute positioned element
   ========================================================================== */

@mixin center($xy:xy) {
    @if $xy == xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        @include transform(translateX(-50%) translateY(-50%));
    }
    @else if $xy == x {
        left: 50%;
        right: auto;
        @include transform(translateX(-50%));
    }
    @else if $xy == y {
        top: 50%;
        bottom: auto;
        @include transform(translateY(-50%));
    }
}


/* ==========================================================================
   Vertical Align (Without Position Absolute)
   http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
   ========================================================================== */

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}





/* ==========================================================================
   RGBA Fallback
   ========================================================================== */

/**
 * Simple mixin to allow a fallback color based off rgba value,
 * allows the option to set a parent background color incase the
 * transparency is over a background other than white
 *
 * Usage
 * @include rgba(background-color, black, 0.5, white);
 */

 @mixin rgba($property, $background: black, $opacity: 0.75, $mix: white) {
    #{$property}: mix($background, $mix, $opacity * 100%);
    #{$property}: rgba($background, $opacity);
}


/* ==========================================================================
   Text Clipping
   // https://gist.github.com/rachelnabors/4708657
   ========================================================================== */

@mixin clip-text($img-url, $color: #000) {
    color: $color;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
                url($img-url) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}


/* ==========================================================================
   Word Wrap
   ========================================================================== */

@mixin word-wrap() {
    word-break:     break-word;
    -webkit-hyphens: auto;
    -moz-hyphens:    auto;
    hyphens:         auto;
}



// ==========================================================================
// Fixed Size Image
// ==========================================================================

@mixin fixed-size-image($width: 70px, $size: normal) {
  border: $base-border;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  @include size($width);
  overflow: hidden;
  position: relative;
  img {
      position: absolute;
      @include center();
      min-width: $width;
      min-height: $width;
  }
}
%fixed-size-image {
  @include fixed-size-image;
}
%fixed-size-image--50 {
  @include fixed-size-image(50px);
}
