﻿@model dynamic
@{
    Layout = null;
}

<html>
<head>
    <title>Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div style="width:800px;margin:100px auto;">
        <img src="https://s3-ap-southeast-1.amazonaws.com/cocadre/email-images/header_confirmation.png" width="168" height="41" alt="Cocadre" style="display:block;margin:50px auto;">
        @if (@Model.Success)
        {
        <img src="https://s3-ap-southeast-1.amazonaws.com/cocadre/email-images/tick_green_circle.png" width="80" height="80" alt="Cocadre" style="display:block;margin:50px auto;">
        <div style="font-family:sans-serif;margin:30px auto 5px auto;width:400px;">
            <p style="font-size:18px;font-weight:700;text-align:center;">Password Successfully Reset</p>
            <p style="font-size:13px;font-weight:100;text-align:center;">Your new password has been sent to your registration email.</p>
        </div>
        }
        else
        {
        <img src="https://s3-ap-southeast-1.amazonaws.com/cocadre/email-images/cross_red_circle.png " width="80" height="80" alt="Cocadre" style="display:block;margin:50px auto;">
        <div style="font-family:sans-serif;margin:30px auto 5px auto;width:400px;">
            <p style="font-size:18px;font-weight:700;text-align:center;">Password Failed To Reset</p>
            <p style="font-size:13px;font-weight:100;text-align:center;">
                @*@Model.ErrorMessage*@
                @*// Chunon asks to change the message to "This link has expired.".*@
                <text>This link has expired.</text>
            </p>
        </div>
        }
    </div>
</body>
</html>
