// Cards


.card {
    background: white;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    // max-width: 500px;
    margin: $base-spacing auto;
    // overflow: hidden;
    transition: box-shadow .25s;
    width: auto;

    @include clearfix;
    @include padding($base-spacing);

    &.p0 {
        padding: 0;
    }

    @include m('bottom') {
        color: $medium-gray;
        margin-bottom: $base-spacing*2;
        .btn {
            @extend %float-right;
        }
    }
}