// ==========================================================================
// Chips
// Inspired from Dropdown Refills Component
// http://refills.bourbon.io/components/
// ==========================================================================

//
// ID's Original
// ==========================================================================

// .chips {
//     $large-screen: em(640) !default;
//     $chips-distance-from-menu: 50px;

//     @include e('container') {
//         @extend %center;
//         // border: 1px solid red;
//         display: inline-block;
//         position: relative;
//         line-height: 1;
//         font-size: rem(13);
//     }

//     @include e('button') {
//         cursor: pointer;
//         display: block;
//         position: relative;
//         @include padding(5px 10px);

//         &:after {
//             display: block;
//             position: absolute;
//         }

//     }

//     @include e('menu') {
//         // @include transition (all 0.2s ease-in-out);
//         @extend %cursorpointer;
//         @extend %transition;
//         background: white;
//         box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

//         display: none;
//         // opacity: 0;
//         // visibility: hidden;
//         overflow: show;
//         text-align: left;
//         // top: $chips-distance-from-menu;
//         width: 200px;
//         z-index: 99999;
//         @include position(absolute, 0 0 null null);

//         @include m('show') {
//             // opacity: 1;
//             // visibility: visible;
//             display: block;
//         }

//         a {
//             color: $dark-gray;
//             display: block;
//             max-width: 200px;
//             text-align: left;
//             @include padding($base-spacing);
//             &:hover {
//                 background: shade($wild-sand, 1%);;
//             }
//         }
//     }
// }


//
// Modified for Cocadre ASP.NET
// ==========================================================================


    .chips {
            @extend %cursorpointer;
            @extend %transition;
            background: white;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            overflow: show;
            text-align: left;
            width: 200px;

            a {
                color: $dark-gray;
                display: block;
                max-width: 200px;
                text-align: left;
                @include padding($base-spacing);
                &:hover {
                    background: shade($wild-sand, 1%);;
                }
            }
    }




//
// Chips 02
// ==========================================================================

.chips--02 {
    $large-screen: em(640) !default;
    $chips-distance-from-menu: 50px;

    @include e('container') {
        @extend %center;
        // border: 1px solid red;
        display: inline-block;
        position: relative;
        line-height: 1;
        font-size: rem(13);
    }

    @include e('button') {
        cursor: pointer;
        display: block;
        position: relative;
        @include padding(5px 10px);

        &:after {
            display: block;
            position: absolute;
        }

    }

    @include e('menu') {
        // @include transition (all 0.2s ease-in-out);
        @extend %cursorpointer;
        @extend %transition;
        background: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

        display: none;
        // opacity: 0;
        // visibility: hidden;
        overflow: show;
        text-align: left;
        // top: $chips-distance-from-menu;
        width: 200px;
        z-index: 99999;
        @include position(absolute, 0 0 null null);

        @include m('show') {
            // opacity: 1;
            // visibility: visible;
            display: block;
        }

        a {
            color: $dark-gray;
            display: block;
            max-width: 200px;
            text-align: left;
            @include padding($base-spacing);
            &:hover {
                background: shade($wild-sand, 1%);;
            }
        }
    }
}

