/* ==========================================================================
   Crop Image Box
   ========================================================================== */


.crop-imagebox {
  @include e('action') {
    width: 400px;
    height: 30px;
    margin: 10px 0;
  }

  @include e('imageBox') {
    position: relative;
    height: 436px;
    width: 436px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;

    @include e('thumbBox') {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 218px;
      height: 218px;
      margin-top: -109px;
      margin-left: -109px;
      border: 1px solid rgb(102, 102, 102);
      box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
      background: none repeat scroll 0% 0% transparent;
    }

    @include e('spinner') {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      line-height: 400px;
      background: rgba(0,0,0,0.7);
    }
  }
}
