/* ==========================================================================
   Data Layout
   ========================================================================== */

.data {
  // min-height: 100%;
  //min-height: calc(100% - 80px);
  height: calc(100% - 80px);
  display: flex;
  overflow-y:hidden;

  @include e('sidebar') {
    @extend %transition;
    background: $wild-sand;
    flex: .8;

    @include m('size1') {
      flex: 1;
    }

    .data__sidebar--active & {
      flex-grow: 0.000000001;
	  // Kevin Added
	  width:0px;
      * {
        visibility: hidden;
      }
    }

    @include e('title') {
      @extend %border-bottom;
      // border-color: shade($wild-sand, 5%);
      font-size: rem(17);
      @include pad(1rem 2rem);
    }
    label {
      opacity: .5;
      margin-bottom: 0;
    }

    .chips__menu {
      right: auto;
      left: 0;
    }


    @include e('list') {
      @extend %border-bottom;
      padding-bottom: $base-spacing;
    }
    @include e('link') {
      border-left: 3px solid transparent;
      color: $base-font-color;
      display: block;
      @include pad($small-spacing 2rem);
      @include m('active') {
        border-color: $safety-orange;
        color: $safety-orange;
      }
    }

  }

  @include e('content') {
    @extend %transition;
    background: white;
    //min-height: 100%;
    flex: 3;
    overflow-y: scroll;
    //overflow-x: hidden;
    height: 100%;

    .data__sidebar--active & {
    }

    .dark & {
      background: $wild-sand;
    }


  }


  #{$all-text-inputs},
  select[multiple=multiple] {
    // background-color: $base-background-color;
    // border: $base-border;
    // border-radius: $base-border-radius;
    // box-shadow: $form-box-shadow;
    // box-sizing: border-box;
    // font-family: $base-font-family;
    // font-size: $base-font-size;
    // margin-bottom: $small-spacing;
    // padding: $base-spacing / 3;
    // transition: border-color $base-duration $base-timing;
    // width: 100%;

    @extend %border-bottom;
    background-color: transparent;
    // border-radius: $base-border-radius;
    box-shadow: none;
    box-sizing: border-box;
    // font-family: $base-font-family;
    // font-size: $base-font-size;
    margin-bottom: $small-spacing;
    padding: $small-spacing;
    transition: border-color $base-duration $base-timing;
    width: 100%;

    &:hover {
      border-color: shade($base-border-color, 20%);
    }

    &:focus {
      // border-color: $action-color;
      // box-shadow: $form-box-shadow-focus;
      outline: none;
    }
  }

}

.datetime {
  display: flex;
  align-items: baseline;
  input {
    margin-left: 10px;
    margin-right: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  .cs-select {
    margin-bottom: $small-spacing;
  }
}