// ==========================================================================
// Material Design Select Element - CSS Only
// ==========================================================================

/* ==========  Select Field Variables ========== */
// $color-black: "0,0,0";
// $select-background-color: transparent;
// $select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
// $select-font-size: 16px;
// $select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
// $select-padding: 4px;

/* ==========  Select Field ========== */

/* Style Select Field */
select {

}

/* Remove focus */
select:focus {
  outline: none}

/* Hide label */
// .mdl-selectfield label {display: none;}
/* Use custom arrow */
.mdl-selectfield select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-color: transparent;
    width: 100%;
    padding: $small-spacing;
    border-radius: 0;
    border: none;
    // @extend %border-bottom;
    border-bottom: 1px solid $light-gray;
    position: relative;
    z-index: 10;
}
.mdl-selectfield {
  // font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;

    &:before {
        speak: none;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        font-family: 'FontAwesome';
        content: '\f0d7';
        right: 1em;
        color: $medium-gray;
        z-index: 1;

    }

    // &:focus,
    // &:active {
    //     &:after {
    //         content: '\f0d8';
    //         color: $light-gray;
    //     }
    // }

}
