/* ==========================================================================
   Flexbox Media Object
   https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
   ========================================================================== */



.Media {
    display: flex;
    align-items: flex-start;
    align-items: center;
    margin-bottom: $base-spacing;
}

.Media-figure {
    margin: 0 $small-spacing 0 0;
    border-radius: 50%;
    width: 40px;
    @include m('noradius') {
        border-radius: 0;
    }
}

.Media-body {
    flex: 1;
}

.Preview-body {
}


/*
   Media - Boxed
   ========================================================================== */

.Media {
    @include m('boxed') {

        background: $wild-sand;
        border-radius: $base-border-radius;
        border: $base-border;
        margin: 0 $small-spacing $small-spacing 0;
        padding: $small-spacing;
        .Media-figure {

        }
    }
}



