/* ==========================================================================
   Popups
   ========================================================================== */

.popup {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.4);
  position: relative;
  max-width: 526px;
  margin: 20px auto;
  width: auto;
  z-index: 10001 !important;

  select::-ms-expand {
    display: none;
  }

  input, .mdl-selectfield {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  @include e('title') {
    font-size: rem(20);
    font-weight: 500;
    @include margin(0);
    @include pad(1.5rem);
  }

  @include e('content') {
    background: white;
    @include pad(0 1.5rem 1.5rem);
    min-height: 250px;

    @include m('nominheight') {
      min-height: 0;
    }
  }

  .label {
    font-size: rem(15);
    font-weight: 500;
    @include margin($base-spacing 0 $small-spacing);
  }
  .step {
    font-size: rem(14);
    font-weight: 400;
    margin: $base-spacing 0 $small-spacing;
    &:first-child {
      margin-top: 0;
    }
  }

  .main {
    @include span-columns(8);
  }
  .side {
    @include shift(1);
    @include span-columns(3);
  }

  @include e('action') {
    @include clearfix;
    @include pad(0 .8rem .5rem);

    @include e('item') {
      @extend %float-right;
      color: $dark-gray;
      border: 0 none;
      border-radius: 2px;
      color: rgba(0, 0, 0, 0.87);
      cursor: pointer;
      font-size: rem(14);
      font-weight: 600;
      line-height: 24px;
      min-width: 64px;
      outline: medium none;
      overflow: hidden;
      padding: 6px 8px;
      position: relative;
      text-transform: uppercase;
      transition-duration: 0.3s;
      transition-property: background-color, -webkit-box-shadow;
      @include margin(0 4px);

      @include m('cancel') {
        &:hover {
          color: $dark-gray;
        }
      }
      @include m('others') {
        float: left;
        &:hover {
          color: $dark-gray;
        }
      }

      @include m('cta') {
        background: transparent;
        color: $action-color;
        &:hover {
          background: transparent;
          color: $action-color;
        }
      }

      @include m('confirm') {
        background: transparent;
        color: $valencia;
        &:hover {
          background: transparent;
          color: $valencia;
        }
      }

    }

  }

  #{$all-text-inputs},
  select[multiple=multiple] {
    // background-color: $base-background-color;
    // border: $base-border;
    // border-radius: $base-border-radius;
    // box-shadow: $form-box-shadow;
    // box-sizing: border-box;
    // font-family: $base-font-family;
    // font-size: $base-font-size;
    // margin-bottom: $small-spacing;
    // padding: $base-spacing / 3;
    // transition: border-color $base-duration $base-timing;
    // width: 100%;

    @extend %border-bottom;
    background-color: transparent;
    // border-radius: $base-border-radius;
    box-shadow: none;
    box-sizing: border-box;
    // font-family: $base-font-family;
    // font-size: $base-font-size;
    margin-bottom: $small-spacing;
    padding: 1em;
    transition: border-color $base-duration $base-timing;
    width: 100%;

    &:hover {
      border-color: shade($base-border-color, 20%);
    }

    &:focus {
      // border-color: $action-color;
      // box-shadow: $form-box-shadow-focus;
      outline: none;
    }
  }


  .Media {
    margin: $base-spacing 0;
  }


  .datetime {
    .cs-select span {
      padding: $small-spacing;
    }
  }

}




/*
   Magnific Popup Animation
   ========================================================================== */

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-bg {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  z-index: 10000 !important;
}


/*
   Upload
   ========================================================================== */

.upload {
  @extend %center;
  color: $medium-gray;
  .image {
    border: $base-border;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    @include size(110px);
  }
  .image-holder {
    border: $base-border;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    @include size(100px);
    overflow: hidden;

    position: relative;

    img {
      position: absolute;
      @include center();

      min-width: 100px;
      min-height: 100px;

    }
  }
  img {
    border-radius: 50%;
    border: 1px solid $medium-gray;



  }
}


/*
   Crop Photo
   ========================================================================== */

.photocrop {
  border: $base-border;
  @include pad();
}



/*
   Access Rights
   ========================================================================== */

.popup--assignaccessrights {
  // max-width: 600px;
}
.accessrights {
  margin: $base-spacing 0 0;

  span {
    display: block;
  }

  input[type="checkbox"] {
    // background: red;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  label {
    // background: lime;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    img {
      display: inline-block;
      vertical-align: middle;
      // float: left;
      margin: 10px;
    }
    div {
      display: inline-block;
      vertical-align: middle;
      width: 80%;
    }
  }
  br {
    @extend %content;
    display: block;
    margin-bottom: $base-spacing;
  }
  // @include e('item') {
  //     @include row(table);
  //     cursor: pointer;
  //     margin: 0 0 $base-spacing;
  //     // display: flex;
  //     // align-items: flex-start;
  //     // align-items: center;
  // }
  // @include e('checkbox') {
  //     @extend %center;
  //     vertical-align: middle;
  //     body & {
  //         // margin: 0 $base-spacing 0 0;
  //         @include span-columns(1);
  //     }
  // }
  // @include e('icon') {
  //     vertical-align: middle;
  //     @extend %center;
  //     color: $safety-orange;
  //     // margin: 0 $small-spacing 0 0;
  //     @include span-columns(1);
  // }
  // @include e('description') {
  //     vertical-align: middle;
  //     @include span-columns(10);
  //     @include reset-display;
  //     padding: 0 0 0 $base-spacing;

  // }
}


/*
   Suspend User
   ========================================================================== */

ul.suspension-reasons {
  margin-bottom: $base-spacing*2;
}


/*
   Quiz: Add New Topic Icon
   ========================================================================== */

.popup--addtopicicon {
  .grid {
    @extend %center;
    // a {
    //   display: block;
    // }
  }
  .popup__content {
    min-height: 0;
  }
  .topicicons {
    border-top: $base-border;
    @include padding($base-spacing);
    @include e('list') {
      background: #f9f9f9;
      height: 458px;
      overflow-y: auto;
      @include outer-container;
    }
    @include e('icon') {
      @include span-columns(3);
      @include omega(4n);
      input {
        @extend %hide;
        &:checked + img {
          background: $light-gray;
        }
      }
      img {
        padding: $small-spacing;
        @extend %transition;
      }
    }
  }
}


//
// Dashboard: Profile
// ==========================================================================

.popup--adduser, .popup--updateuser {
  .form__row {
    display: flex;

    input.day {
      width:50px;
    }

    input.year {
      width:56px;
    }

    input.phone {
      width:100px;
    }

    select.areacode {
      width:80px;
    }

    .mdl-selectfield {
      select {
        padding-right: 25px;
        margin-bottom: 0em;
        height: 42px;
      }
    }

    .label-small {
      font-size: 0.5em;
    }
  }
}