/* ==========================================================================
    Sliding Panel
    Refills Component
    http://refills.bourbon.io/components/
   ========================================================================== */

.sliding-panel-content {
    $sliding-panel-width: 320px;
    @include position(fixed, 0 auto 0 0);
    @include size($sliding-panel-width 100%);
    @include transform(translateX(- $sliding-panel-width));
    @include transition(all 0.25s linear);
    background: white;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999;

    &.is-visible {
        @include transform(translateX(0));
    }
}

.sliding-panel-fade-screen {
    @include position(fixed, 0 0 0 0);
    @include transition;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;

    &.is-visible {
        opacity: 0.4;
        visibility: visible;
    }
}

.sliding-panel-close {
    cursor: pointer;
}


/*
   We build a mini site inside the sliding-panel
   ========================================================================== */

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include e('header') {
        background: $safety-orange;
        color: white;
        //display: table;
        height: 130px;
		flex-shrink: 1;
        // @include pad($base-spacing $base-spacing*2);
        @include pad($base-spacing 0); 
        width: 100%;
        .pad {
            //display: table-cell;
            vertical-align: middle;
            //padding: 0 $base-spacing*2;
            font-size: rem(18);
        }
    }

    @include e('content') {
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
        flex: 1 1 auto;
        overflow-y: auto;
        min-height: 0px;
		flex-shrink: 2;
        li {
            &.active {
                a {
                    background: shade($wild-sand, 1%);
                    color: $action-color;
                }
            }
        }
        a {
            color: $dark-gray;
            display: block;
            font-size: rem(14);
            font-weight: 500;
            @include pad($base-spacing*0.8 $base-spacing*1.5);
            &:hover {
                background: $wild-sand;
            }
        }
    }

    @include e('footer') {
        border-top: $base-border;
        color: $medium-gray;
        font-size: rem(12);
        @include pad($base-spacing $base-spacing*1.5 $base-spacing*1.5);
		flex-shrink: 1;
        p {
            margin: 0;
        }
        li {
            display: inline;

        }
    }

}
