/* ==========================================================================
   Social Sharing
   ========================================================================== */

.social {
    float: right;

    @include e('item') {
        display: inline-block;
        @include margin(0 0 0 10px);
    }

    @include e('link') {
        background: url(../img/icon-social.png) no-repeat;
        display: block;
        @include hide-text;
        @include size(48px);

        @include m('facebook') {
            background-position: 0 -50px;
        }
        @include m('forum') {
            background-position: 0 -100px;
        }
    }

}