// ==========================================================================
// Tags
// ==========================================================================

.tag {
    background-color: white;
    border-radius: $base-border-radius;
    border: $base-border;
    display: inline-block;
    margin: 2px 4px 2px 0;

    @include e('label') {
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 $small-spacing;
    }

    @include e('icon') {
        color: $medium-gray;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding: $small-spacing/2 $small-spacing;
        &:hover {
            color: $dark-gray;
        }
    }
}

