/* ==========================================================================
   App Bar
   ========================================================================== */

.appbar {
    @extend %border-bottom;
    background: white;
    // border: $base-border;
    // border-width: 0 0 1px;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    font-size: rem(20);
    height: 80px;
    line-height: 80px;
    position: relative;
    transform-style: preserve-3d;
    @include pad(0 2rem);

    @include e('hamburger') {
        @extend %float-left;
        color: $medium-gray;
        cursor: pointer;
        @include margin(0 1em 0 0);
        &:hover {
            color: $dark-gray;
        }
    }

    @include e('title') {
        @extend %float-left;
		font-weight:bold;
        span {
			font-variant: normal;
            font-weight: normal;
        }
    }

    @include e('meta') {
        @extend %float-left;
        border: $base-border;
        border-width: 0 0 0 1px;
        font-size: rem(13);
        line-height: 1.5;
        @include vertical-align;
        @include margin(0 0 0 1.8em);
        @include pad(0 0 0 2em);
        span {
            color: $pistachio;
        }
        @include m('big') {
            font-size: rem(20);
            font-weight: 300;
        }
    }


    @include e('action') {
        float: right;
        @include vertical-align;
        width: 300px;
        a:not(.btn) {
            color: $medium-gray;
            float: right;
            @include pad(0 1em);
            &:hover {
                color: $dark-gray;
            }
        }
        a.btn {
            // @extend %float-right;
            font-size: rem(13);
            float: right;
        }
        .chips {
            float: right;
        }

		.data-sidebar-toggle {
			float: right;
		}
    }

}

