// ==========================================================================
// Content Styling + Shame Styling
// ==========================================================================

main {
    height: calc(100% - 70px);
    overflow:hidden;
    min-width: 1000px;
}

.fa-ellipsis-h,
.fa-ellipsis-v {
    font-size: rem(20);
    cursor: pointer;
    padding: 5px 10px;
    color: $medium-gray;
    &:hover {
        color: shade($medium-gray, 10%);
    }
}

.mfb-component--br {
    z-index: 110;
}
.mfb-component__button--main,
.mfb-component__button--child {
    &:hover,
    &:focus {
        color: white;
    }
}

.color-blue {color: $blue;}
.error {color: $valencia;}
.clear {clear: both;}


//
// Content (To be used generally)
// ==========================================================================

.content {
    @include e('pad') {
        padding: $base-spacing*2 $base-spacing*2 0;
    }
    @include e('title') {
        font-size: rem(18);
        font-weight: 500;
    }
}


//
// Suggestion List
// ==========================================================================

.suggestions {
    background: white;
    margin-top: -.6em;

    position: absolute;
    left: 0;
    //top: 48px;

    width: 100%;
    z-index: 5;

    @include e('list') {
        // background: red;
        max-height: 300px;
        overflow-y: scroll;

        @include e('item') {
            background: white;
            &:nth-child(odd) {
                background: $light-gray;
            }
        }
    }
    @include e('link') {
        border: $base-border;
        color: $dark-gray;
        display: block;
        @include padding($small-spacing);
    }
    @include e('name') {
        display: block;
    }
    @include e('email') {
        display: block;
    }
}


//
// Grid Experiment
// ==========================================================================

.grid {
    @include e('inner') {
        background: transparentize(skyblue, .8);
        @include outer-container;
    }
    hr {
        @include row;
    }
    @include e('span') {
        background: transparentize(red, .5);
        @include m('1') {
            @include span-columns(1);
        }
        @include m('2') {
            @include span-columns(2);
        }
        @include m('3') {
            @include span-columns(3);
        }
        @include m('4') {
            @include span-columns(4);
        }
        @include m('5') {
            @include span-columns(5);
        }
        @include m('6') {
            @include span-columns(6);
        }
        @include m('7') {
            @include span-columns(7);
        }
        @include m('8') {
            @include span-columns(8);
        }
        @include m('9') {
            @include span-columns(9);
        }
        @include m('10') {
            @include span-columns(10);
        }
        @include m('11') {
            @include span-columns(11);
        }
        @include m('12') {
            @include span-columns(12);
        }
        @include m('last') {
            @include omega;
        }
    }
}