// ==========================================================================
// Header
// ==========================================================================

// #header {
//     height: 70px;
// }
.header {
    @extend %border-bottom;
    background: $wild-sand;
    // border: $base-border;
    // border-width: 0 0 1px;
    // font-size: rem(13);
    height: 70px;
    line-height: 70px;
    width: 100%;
    min-width: 1000px;
    // @include position(absolute, 0 null null 0);
    @include pad(0 2rem);
    // display: flex;

    // > * {
    //     flex: 1;
    // }


    @include e('logo') {
        @include span-columns(2);
			background: url(../img/logo-cocadre.png) no-repeat;
			background-size: 120px 25px;
			height: 31px;
            width: 151px;
			@include vertical-align();
            @include hide-text;
        // background: $safety-orange;
        //color: $safety-orange;
        //font-size: rem(30);
        //&:hover {
        //    color: $safety-orange;
        //}
    }

    @include e('search') {
        @include span-columns(7);
        margin-top: 16px;
        @include e('input') {
            html & {
                @include span-columns(6 of 7, $display: block-collapse);
                box-shadow: none;
                border-right: 0;
                border-radius: 0;
                box-sizing: border-box;
                margin: 0;
                @include padding(.73em 1.5em .75em);
                &:focus {
                    box-shadow: none;
                }
            }

        }
        @include e('button') {
            @include span-columns(1 of 7, $display: block-collapse);
            border-radius: 0;
            height: 39px;
            i {
                font-size: rem(18);
            }
        }
    }

    @include e('action') {
        text-align: right;
        a {
            color: $dark-gray;
            i {
                margin-left: 1em;
            }
        }
    }
}


//
// Account Information
// ==========================================================================

.account-information {
    @extend %hide;
    @extend %transition;
    background: white;
    border: 1px solid #CCC;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    line-height: 1.4;
    min-width: 320px;
	z-index: 20;
    text-align: left;
    @include position(absolute, 60px 2rem null null);

    &:before {
        @extend %content;
        @include triangle(20px, #CCC, up);
        @include position(absolute, -11px 1em null null);
        // @include center(x);
        z-index: 15;
    }
    &:after {
        @extend %content;
        @include triangle(20px, $corn-silk, up);
        @include position(absolute, -10px 1em null null);
        // @include center(x);
        z-index: 15;
    }

    @include e('header') {
        background: $corn-silk;
        color: black;
        padding: $small-spacing $base-spacing;

        @include e('link') {
            .header & {
                color: $blue;
            }
            display: block;
        }
    }
    @include e('footer') {
        background: $wild-sand;
        border-top: $base-border;
        padding: $small-spacing $base-spacing;
        @include row;
        a {
            @extend .btn;
            @extend .secondary;
            @extend %float-right;
        }
    }

    @include e('company') {
        padding: $base-spacing;
        @include row();

        @include m('others') {
            background:$wild-sand;
            border-top: $base-border;
            display: block;
            line-height: 50px;
            padding: $small-spacing $base-spacing;
            @include row();
            .company__image {
                @extend %fixed-size-image--50;
                float: left;
            }
            .company__name {
                @include span-columns(7);
                margin-left: $small-spacing;
            }
        }
    }
    .company {
        @include span-columns(5);
        text-align: center;
    }
    .company__image {
        @extend %fixed-size-image;
        margin: 0 auto;
    }
    .company__name {
        color: $safety-orange;
        font-size: rem(18);
        text-transform: uppercase;
    }
    .user {
        @include span-columns(7);
    }
    .user__name {
        font-weight: bold;
    }
    .user__email {
        color: $medium-gray;
    }
    .user__accountlink {
        @extend .btn;
        font-size: rem(14);
        margin: $small-spacing 0;
    }

}