﻿@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    body {
        font-family: "Helvetica Neue", Helvetica, Arial;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #3b3b3b;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        background: #2b2b2b;
    }

    .bodyContainer {
        margin: 0 auto;
        padding: 40px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .table {
        margin: 0 0 40px 0;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        display: table;
    }

    .row {
        display: table-row;
        background: #f6f6f6;
    }

        .row:nth-of-type(odd) {
            background: #e9e9e9;
        }

        .row.header {
            font-weight: 900;
            color: #ffffff;
            background: #ea6153;
        }

        .row.green {
            background: #27ae60;
        }

        .row.blue {
            background: #2980b9;
        }

        .row.fullwidth {
            width: 100%;
        }

    .cell {
        padding: 6px 12px;
        display: table-cell;
    }

    #commandInput {
        width: 100%;
        background: #f6f6f6;
        display: inline-block;
        padding: 10px;
        margin-bottom: 40px;
    }

    #command {
        width: 90% !important;
        max-width: 100% !important;
        border: 0;
        background: #f6f6f6;
    }

    #sendCommand {
        float: right;
    }

    textarea:focus, input:focus {
        outline: none;
    }
</style>
<div class="bodyContainer">
    <div id="commandTable" class="table">
        <div class="row header">
            <div class="cell">
                Command
            </div>
            <div class="cell">
                Parameter
            </div>
            <div class="cell">
                Description
            </div>
        </div>
        <div class="row">
            <div class="cell">
                channel
            </div>
            <div class="cell">
            </div>
            <div class="cell">
                List down all the current available channels
            </div>
        </div>
        <div class="row">
            <div class="cell">
                channel
            </div>
            <div class="cell">
                -channelId count
            </div>
            <div class="cell">
                Get total user count in the channel
            </div>
        </div>
        <div class="row">
            <div class="cell">
                channel
            </div>
            <div class="cell">
                -channelId users
            </div>
            <div class="cell">
                Get all users in the channel
            </div>
        </div>
        <div class="row">
            <div class="cell">
                send
            </div>
            <div class="cell">
                -m message
            </div>
            <div class="cell">
                Send message to all channels
            </div>
        </div>
        <div class="row">
            <div class="cell">
                send
            </div>
            <div class="cell">
                -c channelId -m message
            </div>
            <div class="cell">
                Send message to a channel
            </div>
        </div>
        <div class="row">
            <div class="cell">
                send
            </div>
            <div class="cell">
                -u username -m message
            </div>
            <div class="cell">
                Send message to a user
            </div>
        </div>
        <div class="row">
            <div class="cell">
                clear
            </div>
            <div class="cell">
            </div>
            <div class="cell">
                Clear screen
            </div>
        </div>
    </div>
    <div id="commandInput">
        <input type="text" id="command" />
        <input type="button" id="sendCommand" value="Send" />
    </div>
    <div id="activityTable" class="table">
        <div class="row header green">
            <div class="cell">
                Activity
            </div>
            <div class="cell">
                Message
            </div>
        </div>
    </div>
    <input type="hidden" id="clientIp">
</div>