#{$all-buttons},
.btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $action-color;
    border: 1px solid $action-color;
    border-radius: $base-border-radius;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
    color: #fff;
    cursor: pointer;
    display: inline-block;
    // font-family: $base-font-family;
    // font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    line-height: 1;
    padding: $small-spacing $base-spacing;
    text-decoration: none;
    transition: background-color $base-duration $base-timing;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:hover,
    &:focus {
        background-color: shade($action-color, 10%);
        color: #fff;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            background-color: $action-color;
        }
    }
}


.btn {
    font-weight: 600;
    @include margin(0 $small-spacing 0 0);
    @extend %center;

    &:first-child {
        margin-right: 0;
    }

    &.secondary {
        background: $wild-sand;
        border: $base-border;
        color: $dark-gray;

        &:hover,
        &:focus {
            background-color: shade($wild-sand, 5%);
            color: $dark-gray;
        }
    }

    &.confirm {
        background: $valencia;
        border-color: $valencia;

        &:hover,
        &:focus {
            background-color: shade($valencia, 5%);
        }
    }

    &.brandcolor {
        background: $safety-orange;
        border-color: $safety-orange;
        // color: $dark-gray;
        &:hover,
        &:focus {
            background-color: shade($safety-orange, 5%);
        }
    }

    &.white {
        background: white;
        border-color: $light-gray;
        color: $light-gray;
    }

    &.transparent {
        background: white;
        border-color: transparent;
        color: $medium-gray;

        &:hover,
        &:focus {
            background-color: shade($wild-sand, 5%);
        }
    }

    &.disabled {
        @extend %cursordefault;
        background: white;
        border-color: $light-gray;
        color: $light-gray;
    }

    i {
        margin-right: $small-spacing;

        &.icon {
            margin-right: 0;
        }
    }

    &.uppercase {
        @extend %uppercase;
        font-weight: 600;
    }
}
