fieldset {
  // background-color: $secondary-background-color;
  // border: $base-border;
  // margin: 0 0 $small-spacing;
  // padding: $base-spacing;

  border: none;
  margin: 0;
  @include padding(0);
  @include clearfix;
}

input,
label,
select {
  display: block;
  // font-family: $base-font-family;
  // font-size: $base-font-size;
}

label {
  // font-weight: 600;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple] {
  background-color: $base-background-color;
  border: $base-border;
  // border-radius: $base-border-radius;
  // box-shadow: $form-box-shadow;
  box-sizing: border-box;
  color: $dark-gray;
  // font-family: $base-font-family;
  // font-size: $base-font-size;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  padding: 1em;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    // box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
  &.form-error {
    border-color: $valencia;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.error-msg {
  color: $valencia;
  display: block;
  margin: $small-spacing 0;
  text-align: left;
}

.form__row {
  position: relative;
  @include margin(0 0 $base-spacing);
  label {
    margin: 0;
  }
}


//
// Combo Box
// ==========================================================================

.combos {
  ul {
    z-index: 10100!important;
    min-height: 100px;
    min-width: 200px;
    // background: $light-gray;
    position: fixed!important;
  }
  li {
    // background: lime;
    position: relative;
    z-index: 10101!important;
    padding: .5em 1em!important;
  }
}

.ajax__combobox_buttoncontainer {
  button {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}