@import "../bower_components/neat/app/assets/stylesheets/_neat-helpers.scss"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 1280px;

// Original Neat Breakpoints
// $medium-screen: 600px;
// $large-screen: 900px;
// $larger-screen: 1025px;

// $medium-screen-up: new-breakpoint(min-width $medium-screen 4);
// $large-screen-up: new-breakpoint(min-width $large-screen 8);

// $medium-screen-only: new-breakpoint(max-width $medium-screen);
// $large-screen-only: new-breakpoint(max-width $large-screen);


// $medium-screen-up: new-breakpoint(min-width $medium-screen);
// $large-screen-up: new-breakpoint(min-width $large-screen);
// $larger-screen-up: new-breakpoint(min-width $larger-screen);


/* ==========================================================================
   Breakpoints
   ========================================================================== */

/*
   Width Variables
   ========================================================================== */

// Custom, iPhone Retina
$tiny-screen: 320px;

// Extra Small Devices, Phones
$smaller-screen: 480px;

// Small Devices, Tablets
$small-screen: 768px;

// Medium Devices, Desktops
$medium-screen: 992px;

// Large Devices, Wide Screens
$large-screen: 1200px;


/*
   Media Queries
   ========================================================================== */

$tiny-screen-up    : new-breakpoint(min-width $tiny-screen);
$smaller-screen-up : new-breakpoint(min-width $smaller-screen);
$small-screen-up   : new-breakpoint(min-width $small-screen);
$medium-screen-up  : new-breakpoint(min-width $medium-screen);
$large-screen-up   : new-breakpoint(min-width $large-screen);


// ------------------------------------------------------------
// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
// @include omega-reset(4n);
// ------------------------------------------------------------

$fg-column: $column;
$fg-gutter: $gutter;

