table {
    border-collapse: collapse;
    font-feature-settings: "kern", "liga", "tnum";
    margin: $small-spacing 0;
    table-layout: fixed;
    width: 100%;

    // img {
    //     border-radius: 50%;
    //     display: block;
    //     width: 40px;
    //     margin: 0 auto;
    // }
    a {
        display: inline-block;
        text-align: center;
        // i {
        //     color: $medium-gray;
        //     padding: $small-spacing;
        // }
    }
}

th {
    // border-bottom: 1px solid shade($base-border-color, 20%);
    @extend %border-bottom;
    font-weight: 500;
    // padding: $small-spacing 0;
    text-align: left;

    @include padding(1.2rem 2rem);

    &.thumbnail {
        padding: 0;
    }
}

td {
    border-bottom: $base-border;
    border-color: $wild-sand;
    // padding: $small-spacing 0;
    @include padding(1.2rem 2rem);

    &.digit {
        text-align: right;
    }
}

tr,
td,
th {
    vertical-align: middle;
}

// tr {
//     &:hover td {
//         background: shade($wild-sand, 3%);
//     }
// }


