$debug: false;

// $pt-sans: 'PT Sans', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$better-helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$roboto: Roboto, sans-serif;

$zubajda: zubajda_rgregular, sans-serif;
$origcide: origicideregular, sans-serif;
$switzerland: switzerland_condensedbold, sans-serif;

// Typography
$base-font-family: $roboto;
$heading-font-family: $base-font-family;

// Font Sizes
// $base-font-size: 1em;
// $base-font-size: 1em*0.875;
$base-font-size: 1em*0.8125;


// Font Weight
$base-font-weight: 400;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #4683ea;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$black-haze: #F7F7F7;
$wild-sand: #F5F5F5;
$safety-orange: #FF9600;
$awesome: #FF2851;
$valencia: #DD4B39;
$pistachio: #92D200;
$tin: #808080;

$corn-silk: #FDF8DB;
$cool-black: #022A6B;

// $cardinal: #BD2130;
// $lust: #E7111C;
// $sea-buckthorn: #FDAD2A;
// $indian-tan: #4F2108;
// $kournikova: #FED451;

// Font Colors
$base-font-color: $dark-gray;
// $base-font-color: white;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
