/* ==========================================================================
   Easy Tabs
   http://os.alfajango.com/easytabs/
   ========================================================================== */

.tabs {
    @include e('list') {
        @include e('item') {
            display: inline-block;
            vertical-align: top;
            @include margin(0);
            &.active {
                // border: 1px solid #000;
            }
        }
    }
    @include e('link') {
        display: block;
        font-weight: 600;
        outline: none;
        &:hover {

        }
        &.active {
            // border: 1px solid #000;
        }
    }
    @include e('panels') {
        @include e('item') {
        }
    }
}


/*
   Custom Styled for Local Project
   ========================================================================== */

.tabs {

    @include e('list') {
        .tabs--styled & {
            @extend %border-bottom;
        }
    }
    @include e('link') {
        .tabs--styled & {
            border-bottom: 3px solid transparent;
            color: $medium-gray;
            font-size: rem(15);
            @include pad($small-spacing/2 $base-spacing $small-spacing/1.2);
            &.active {
                border-color: $awesome;
                color: $dark-gray;
            }
        }
    }
    @include e('panels') {
        @include e('item') {
            .tabs--styled & {
                @include pad($base-spacing 0);
            }
        }
    }

}


/*
   Custom Styled for Question Format
   ========================================================================== */

.tabs {

    @include e('list') {
        @include row;
        @include e('item') {
            .tabs--questionformat & {
                @include span-columns(4);
                @extend %center;
                @extend %transition;
                background: white;
                border: $base-border;
                border-width: 2px;
                @include pad();
                &.active {
                    background-color: $wild-sand;
                    border-color: $safety-orange;
                }
                span {
                    @extend %visuallyhidden;
                }
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
    @include e('link') {
        .tabs--styled & {
            border-bottom: 3px solid transparent;
            color: $medium-gray;
            font-size: rem(15);
            @include pad($small-spacing/2 $base-spacing $small-spacing/1.2);
            &.active {
                border-color: $awesome;
                color: $dark-gray;
            }
        }
    }
    @include e('panels') {
        @include e('item') {
            .tabs--questionformat & {
                @include pad($base-spacing 0);
            }
        }
    }

}


/*
   Markup
   ========================================================================== */

/**
 * <div id="tabs" class="tabs">
        <ul class="tabs__list">
            <li class="tabs__list__item"><a class="tabs__link" href="#tabs-panel-01">Panel 01</a></li>
            <li class="tabs__list__item"><a class="tabs__link" href="#tabs-panel-02">Panel 02</a></li>
            <li class="tabs__list__item"><a class="tabs__link" href="#tabs-panel-03">Panel 03</a></li>
        </ul>
        <div class="tabs__panels">
            <div class="tabs__panels__item" id="tabs-panel-01">
                Panel 01
            </div>
            <div class="tabs__panels__item" id="tabs-panel-02">
                Panel 02
            </div>
            <div class="tabs__panels__item" id="tabs-panel-03">
                Panel 03
            </div>
        </div>
    </div>
 */