/* ==========================================================================
   Bourbon Stack
   ========================================================================== */

@import "bourbon/bourbon";
@import "normalize";
@import "bitters/base";
@import "bower_components/neat/app/assets/stylesheets/_neat";


/* ==========================================================================
   Mixins and Extenders from 1-base
   Have to call here cause its a bitch
   ========================================================================== */

@import "../1-base/extenders";
@import "../1-base/mixins";


/* ==========================================================================
   Google Web Fonts
   ========================================================================== */

// @import "bower_components/sass-web-fonts/web-fonts";
// @include web-fonts(("PT Sans": ("700", "400", "300")));
// @include web-fonts("Lato:400,700");
// @include web-fonts(("Roboto": ("500", "400", "300")));


/* ==========================================================================
   Others
   ========================================================================== */

/*
   From CodeKit Framework
   ========================================================================== */

@import "bower_components/magnific-popup/src/css/main";
// @import "bower_components/geoffgraham.animate.scss/animate";
// @import "bower_components/datedropper/datedropper";

$child_button_size: 42px;
$number-of-child-buttons: 2;

@import "bower_components/ng-material-floating-button-master/mfb/src/mfb";
.mfb-component__button--main {
   background: #45db5e;
   color: white;
}
.mfb-component__button--child.orange {
   background: orange;
}
.mfb-component__button--child.blue {
   background: $blue;
}

.mfb-component--br {
  right: $base-spacing*5;
  }
/*
   From Project Local
   ========================================================================== */

@import "burger";
@import "easytabs";
// @import "owlcarousel";
// @import "owl.transitions";
// @import "magnific-popup/main";
// @import "pushy";
// @import "better-bourbon-buttons-master/bbb"
@import "jquery.dataTables";
@import "cs-select";
// @import "mfb";
@import "toastr";
@import "jquery.material.form";

